<!DOCTYPE html>
<!--[if IE 9]><html class="ie ie9"> <![endif]-->
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="pizza, delivery food, fast food, sushi, take away, chinese, italian food">
    <meta name="description" content="">
    <meta name="author" content="Ansonika">
    <title>Mopiteu - Comida sem sair de casa</title>

    <!-- Favicons-->
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="/static/img/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="/static/img/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="/static/img/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="/static/img/apple-touch-icon-144x144-precomposed.png">

    <!-- GOOGLE WEB FONT -->
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700,900,400italic,700italic,300,300italic' rel='stylesheet' type='text/css'>

    <!-- BASE CSS -->
    <link href="/static/css/base.css" rel="stylesheet">

    <!-- Radio and check inputs -->
    <link href="/static/css/skins/square/grey.css" rel="stylesheet">
    <link href="/static/css/ion.rangeSlider.css" rel="stylesheet">
    <link href="/static/css/ion.rangeSlider.skinFlat.css" rel="stylesheet" >


    <!--[if lt IE 9]>
      <script src="/static/js/html5shiv.min.js"></script>
      <script src="/static/js/respond.min.js"></script>
    <![endif]-->

    <script src="/static/js/shoppingCart.js"></script>

</head>

<body>

<!--[if lte IE 8]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a>.</p>
<![endif]-->

<div id="preloader">
    <div class="sk-spinner sk-spinner-wave" id="status">
        <div class="sk-rect1"></div>
        <div class="sk-rect2"></div>
        <div class="sk-rect3"></div>
        <div class="sk-rect4"></div>
        <div class="sk-rect5"></div>
    </div>
</div><!-- End Preload -->

<!-- Header ================================================== -->
<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col--md-4 col-sm-4 col-xs-4">
                <a href="/" id="logo">
                    <img src="/static/img/logo.png" width="190" height="23" alt="" data-retina="true" class="hidden-xs">
                    <img src="/static/img/logo_mobile.png" width="59" height="23" alt="" data-retina="true" class="hidden-lg hidden-md hidden-sm">
                </a>
            </div>
            <nav class="col--md-8 col-sm-8 col-xs-8">
                <a class="cmn-toggle-switch cmn-toggle-switch__htx open_close" href="javascript:void(0);"><span>Menu mobile</span></a>
                <div class="main-menu">
                    <div id="header_menu">
                        <img src="/static/img/logo.png" width="190" height="23" alt="" data-retina="true">
                    </div>
                    <a href="#" class="open_close" id="close_in"><i class="icon_close"></i></a>
                    <ul>
                        <!--<li class="submenu">-->
                        <li><a href="/contact/">Contacto</a></li>
                        <li><a href="/">Página Inicial</a></li>
                        <!--
                        <ul>
                            <li><a href="index.html">Home Video background</a></li>
                            <li><a href="index_2.html">Home Static image</a></li>
                            <li><a href="index_3.html">Home Text rotator</a></li>
                            <li><a href="index_8.html">Home Layer slider</a></li>
                            <li><a href="index_4.html">Home Cookie bar</a></li>
                            <li><a href="index_5.html">Home Popup</a></li>
                            <li><a href="index_6.html">Home Mobile synthetic</a></li>
                            <li><a href="index_7.html">Top Menu version 2</a></li>
                        </ul>-->
                        <!--</li>-->
                        {% comment %}<li><a href="about.html">Acerca</a></li>{% endcomment %}
                        <!--<li><a href="faq.html">Faq</a></li>-->
                        <!--
                        <li class="submenu">
                        <a href="javascript:void(0);" class="show-submenu">Pages<i class="icon-down-open-mini"></i></a>
                        <ul>
                            <li><a href="detail_page.html">Restaurant Menu</a></li>
                            <li><a href="cart.html">Order step 1</a></li>
                            <li><a href="cart_2.html">Order step 2</a></li>
                            <li><a href="cart_3.html">Order step 3</a></li>
                            <li><a href="detail_page_2.html">Restaurant detail page</a></li>
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="grid_list.html">Grid list</a></li>
                            <li><a href="contacts.html">Contacts</a></li>
                            <li><a href="coming_soon/index.html">Coming soon page</a></li>
                            <li><a href="shortcodes.html">Shortcodes</a></li>
                            <li><a href="icon_pack_1.html">Icon pack 1</a></li>
                            <li><a href="icon_pack_2.html">Icon pack 2</a></li>
                        </ul>
                        </li>-->
                        <!--<li><a href="#0" data-toggle="modal" data-target="#login_2">Login</a></li>-->
                    </ul>
                </div><!-- End main-menu -->
            </nav>
        </div><!-- End row -->
    </div><!-- End container -->
</header>
<!-- End Header =============================================== -->








<!-- SubHeader =============================================== -->
<section class="parallax-window" data-parallax="scroll" data-image-src="{{ restaurant.img_banner.url }}" data-natural-width="1400" data-natural-height="470">
    <div id="subheader">
        <div id="sub_content">
            <div id="thumb"><img src="{{ restaurant.img_logo.url }}" alt=""></div>
            <!-- <div class="rating">
                 <i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i> (<small><a href="detail_page_2.html">Read 98 reviews</a></small>)</div>-->
            <h1>{{ restaurant.name }}</h1>
            <div><em><strong>Nossa localização:</strong></em></div>
            {% if restaurant.delivery_is_free %}
                <div><i class="icon_pin"></i> {{ restaurant.get_address }} - <strong>Taxa de Entrega: </strong>Grátis.</div>
            {% else %}
                <div><i class="icon_pin"></i> {{ restaurant.get_address }} - <strong>Taxa de Entrega: </strong> Kz {{ restaurant.delivery_tax }}, gratuita para pedidos acima de Kz {{ restaurant.delivery_free_from }}.</div>
            {% endif %}
        </div><!-- End sub_content -->
    </div><!-- End subheader -->
</section><!-- End section -->
<!-- End SubHeader ============================================ -->


<script>
    function  adicionarItem(id){
        id = "add-form"+id;
        var formData = $("#"+id).serialize();
        console.log(formData);

        $.ajax({
            type: "GET",
            url: "{{ request.get_full_path }}cart/",
            success: function (data) {
                console.log(data);
                $("#jquery-message").text("Added " + data.item_added + " " + "Deleted " + data.deleted);
            },
            error: function (response, error) {
                console.log(response);
                console.log(error);
                $("#"+id).submit();
            }
        });
    }
</script>
<script>
    var cart = [];


    ////////////////////////////////////////////////////////
    //FORMAT NUMBER
    Number.prototype.formatMoney = function(c, d, t){
        var n = this,
                c = isNaN(c = Math.abs(c)) ? 2 : c,
                d = d == undefined ? "." : d,
                t = t == undefined ? "," : t,
                s = n < 0 ? "-" : "",
                i = parseInt(n = Math.abs(+n || 0).toFixed(c)) + "",
                j = (j = i.length) > 3 ? j % 3 : 0;
        return s + (j ? i.substr(0, j) + t : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : "");
    };
    ////////////////////////////////////////////////////////



    function loadTheCart(){
        //alert("reload");

        cartCopy = shoppingCart.listCart();
        itensList = '';

        delivery_is_free = {{ restaurant.delivery_is_free|lower }};
        deliveryTax = {{ restaurant.delivery_tax }};
        freeForOrderUpTo = {{ restaurant.delivery_free_from }};

        var delRadio = $("#deliveryRadio").is(':checked');
        var takeRadio = $("#takeawayRadio").is(':checked');

        subtotalPrice = 0;
        totalPrice = 0;



        for (var i in cartCopy) {
            console.log(i);
            var item = cartCopy[i];
            var itemCopy = {};
            for (var p in item) {
                itemCopy[p] = item[p];
            }
            itemCopy.total = (item.price * item.count).toFixed(2);


            itensList += '<tr><td><a href="#0" class="remove_item"></a> <strong>'+item.count+'x </strong>'+item.name+'</td><td><strong class="pull-right">Kz '+(item.price*item.count).formatMoney(2);+'</strong></td></tr>';

            subtotalPrice += item.count*item.price;
        }
        $("#itens-pedido").html(itensList);

        if(delivery_is_free || (subtotalPrice >= freeForOrderUpTo) || takeRadio){
            totalPrice = subtotalPrice;
        }
        else{
            totalPrice = subtotalPrice + deliveryTax;
        }

        $("#subtotal").html((subtotalPrice).formatMoney(2));
        $("#total").html((totalPrice).formatMoney(2));
        totalPrice = (totalPrice).formatMoney(2);
        itensList2 = '<tr><td class="total_confirm">TOTAL</td><td class="total_confirm"><span class="pull-right">Kz '+totalPrice+'</span></td></tr>';

        $("#itens-pedido").html(itensList+itensList2);


        shoppingCart.clearCart();
    }


    function validateEmail(email) {
        var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(email);
    }


    function addItemBeta(id, name, price){

        event.preventDefault(); //Do not reload the page
        shoppingCart.addItemToCart(id, name, price, 1); // qty = 1
        loadTheCart();


    }

    function removeFromCart(id){
        shoppingCart.removeItemFromCart(id);
        loadTheCart();
    }

    function sendOrder(){
        event.preventDefault();


        cartCopy = shoppingCart.listCart();
        subtotalPrice = 0;
        min_order = {{ restaurant.min_order }};

        for (var i in cartCopy) {
            console.log(i);
            var item = cartCopy[i];
            var itemCopy = {};
            for (var p in item) {
                itemCopy[p] = item[p];
            }
            itemCopy.total = (item.price * item.count).toFixed(2);

            subtotalPrice += item.count*item.price;
        }

        if(subtotalPrice < min_order){
            alert("Valor mínimo do pedido tem que ser de Kz "+min_order.formatMoney(2));
        }
        else{
            //alert("Pedido enviado com sucesso!");
            var firstname_order = $("#firstname_order").val();
            var lastname_order = $("#lastname_order").val();
            var tel_order = $("#tel_order").val();
            var email_order = $("#email_booking_2").val();
            var address_order = $("#address_order").val();
            var city_order = $("#city_order").val();
            var delivery_scheduled_day = $("#delivery_schedule_day").val();
            var notes = $("#notes").val();
            var slug = "{{ restaurant.slug }}";

            if((firstname_order.length>2)&&(lastname_order.length>2)&&(tel_order.length>=9)&&(validateEmail(email_order))&&(address_order.length>=4)&&(city_order.length>=3)){
                if((delivery_scheduled_day==="Today") || (delivery_scheduled_day==="Tomorrow")){
                    //Fetch the cart data to send
                    var orderJson = {};

                    cartCopy = shoppingCart.listCart();
                    for (var i in cartCopy) {
                        console.log(i);
                        var item = cartCopy[i];
                        var itemCopy = {};
                        for (var p in item) {
                            itemCopy[p] = item[p];
                        }
                        orderJson[item.id] = item.count;
                    }
                    orderJson["firstname"] = firstname_order;
                    orderJson["lastname"] = lastname_order;
                    orderJson["tel"] = tel_order;
                    orderJson["email"] = email_order;
                    orderJson["address"] = address_order;
                    orderJson["city"] = city_order;
                    orderJson["delivery_day"] = delivery_scheduled_day;

                    orderJson["notes"] = notes;
                    orderJson["slug"] = slug;
                    orderJson["csrfmiddlewaretoken"] = "{{ csrf_token }}";

                    orderJson = JSON.stringify(orderJson);



                    $.ajax({
                        type: "POST",
                        url: '{{ thePostUrl }}',
                        data: {
                            "data":orderJson,
                            "csrfmiddlewaretoken": "{{ csrf_token }}",

                        },
                        success: function (data) {
                            alert("fechoooooooooooooou2");

                        },
                        error: function(){
                            alert("erro no envio");
                        },
                    });




                    alert("enviou xD "+orderJson);
                }
                else{
                    alert("Verifique os dados");
                }

            }
            else{
                alert("Verifique os dados");
            }


        }
    }
</script>

<div id="position">
    <div class="container">
        <ul>
            <li><a href="#0">Página Inicial</a></li>
            <li><a href="#0">Restaurantes</a></li>
            <li><a href="#0">Produtos</a></li>
            <li><a href="#0">Pedidos</a></li>
            <li>Checkout</li>
        </ul>
    </div>
</div><!-- Position -->

<!-- Content ================================================== -->
<div class="container margin_60_35">
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <div class="box_style_2">
                <h2 class="inner">Pedido confirmado!</h2>
                <div id="confirm">
                    <i class="icon_check_alt2"></i>
                    <h3>Muito obrigado!</h3>
                    <p>
                        Você irá receber uma mensagem no seu e-mail com a confirmação do seu pedido!</p>
                </div>
                <h4>Resumo</h4>
                <table class="table table-striped nomargin">
                    <tbody id="itens-pedido">

                    </tr>

                    <!--
                    <tr>
                        <td>
                             Delivery schedule <a href="#" class="tooltip-1" data-placement="top" title="" data-original-title="Please consider 30 minutes of margin for the delivery!"><i class="icon_question_alt"></i></a>
                        </td>
                        <td>
                            <strong class="pull-right">Today 07.30 pm</strong>
                        </td>
                    </tr>-->

                    </tbody>
                </table>
            </div>
        </div>
    </div><!-- End row -->
</div><!-- End container -->
<!-- End Content =============================================== -->



<!-- Footer ================================================== -->
<footer>
    <div class="container">
        <div class="row">

        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="social_footer">
                    <ul>
                        <li><a href="#0"><i class="icon-facebook"></i></a></li>
                        <li><a href="#0"><i class="icon-twitter"></i></a></li>
                        <li><a href="#0"><i class="icon-google"></i></a></li>
                        <li><a href="#0"><i class="icon-instagram"></i></a></li>
                        <li><a href="#0"><i class="icon-pinterest"></i></a></li>
                        <li><a href="#0"><i class="icon-vimeo"></i></a></li>
                        <li><a href="#0"><i class="icon-youtube-play"></i></a></li>
                    </ul>
                    <p>© MOPITEU 2016</p>
                </div>
            </div>
        </div><!-- End row -->
    </div><!-- End container -->
</footer>
<!-- End Footer =============================================== -->

<div class="layer"></div><!-- Mobile menu overlay mask -->

<!-- Login modal -->
<div class="modal fade" id="login_2" tabindex="-1" role="dialog" aria-labelledby="myLogin" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content modal-popup">
            <a href="#" class="close-link"><i class="icon_close_alt2"></i></a>
            <form action="#" class="popup-form" id="myLogin">
                <div class="login_icon"><i class="icon_lock_alt"></i></div>
                <input type="text" class="form-control form-white" placeholder="Username">
                <input type="text" class="form-control form-white" placeholder="Password">
                <div class="text-left">
                    <a href="#">Forgot Password?</a>
                </div>
                <button type="submit" class="btn btn-submit">Submit</button>
            </form>
        </div>
    </div>
</div><!-- End modal -->

<!-- Register modal -->
<div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="myRegister" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content modal-popup">
            <a href="#" class="close-link"><i class="icon_close_alt2"></i></a>
            <form action="#" class="popup-form" id="myRegister">
                <div class="login_icon"><i class="icon_lock_alt"></i></div>
                <input type="text" class="form-control form-white" placeholder="Name">
                <input type="text" class="form-control form-white" placeholder="Last Name">
                <input type="email" class="form-control form-white" placeholder="Email">
                <input type="text" class="form-control form-white" placeholder="Password"  id="password1">
                <input type="text" class="form-control form-white" placeholder="Confirm password"  id="password2">
                <div id="pass-info" class="clearfix"></div>
                <div class="checkbox-holder text-left">
                    <div class="checkbox">
                        <input type="checkbox" value="accept_2" id="check_2" name="check_2" />
                        <label for="check_2"><span>I Agree to the <strong>Terms &amp; Conditions</strong></span></label>
                    </div>
                </div>
                <button type="submit" class="btn btn-submit">Register</button>
            </form>
        </div>
    </div>
</div><!-- End Register modal -->


<!-- COMMON SCRIPTS -->
<script src="/static/js/jquery-1.11.2.min.js"></script>
<script src="/static/js/common_scripts_min.js"></script>
<script src="/static/js/functions.js"></script>
<script src="assets/validate.js"></script>

<!-- SPECIFIC SCRIPTS -->
<script  src="/static/js/cat_nav_mobile.js"></script>
<script>$('#cat_nav').mobileMenu();</script>
<script src="/static/js/jquery.pin.min.js"></script>
<script>$("#cart_box").pin({padding: {top: 80, bottom: 25},minWidth: 1100, containerSelector: "#container_pin"})</script>
<script>
    $(function() {
        'use strict';
        $('a[href*=#]:not([href=#])').click(function() {
            if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top - 70
                    }, 1000);
                    return false;
                }
            }
        });
    });

    //First clear the cart, because there can be one cart from another Restaurant

    loadTheCart();
</script>

</body>
</html>