{% extends "account/base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
    <h1>{% trans "Sign Up" %}</h1>
    {% load socialaccount %}
    {% providers_media_js %}
  {% comment %}  <a href="{% provider_login_url "facebook" method="js_sdk" %}">Facebook Connect</a>{% endcomment %}
{% comment %}
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
{% endcomment %}


    <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class='btn btn-success' type="submit">{% trans "Sign Up" %} &raquo;</button>

    </form>

{% endblock %}