.black_overlay{
	display: none;
	position: absolute;
	top: 50%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index:1001;
	-moz-opacity: 0.8;
	opacity:.80;
	filter: alpha(opacity=80);
}

#loading {
	display: none;
	position: absolute;
	top: 80%;
	left: 40%;
	padding: 65%;
    width: 250px;
	z-index:1002;
	overflow: auto;
    background-image: url('../img/loader1.gif');
    background-repeat: no-repeat
}