/*
	Reset CSS
	
 */
@import url(https://fonts.googleapis.com/css?family=Roboto);
*{
	margin: 0px;
	padding:0px;
	font-family: 'Roboto', sans-serif;
}
body{
	background-image: url('../img/din-dins-background.jpg');
}
.main-menu ul{
	list-style-type: none;
}

.head-menu{
	padding: 3px;
	background-color: rgba(255,102,0,1);
	box-shadow: 0px 3px 10px 1px rgba(0,0,0,.2);
	height: 50px;
}

.head-menu .main-menu{
	padding: 5px;
	text-align: right;
	position: relative;
	top:6px;
}

.head-menu .main-menu ul li{
	display: inline-block;
	padding: 5px;

}
.head-menu .main-menu ul li a {
	text-decoration: none;
	color:#000;
	font-family: 'Roboto', sans-serif;
	font-size:14px;
	font-weight: bolder;
	color: rgba(255,255,255,1);
}
#slogan{
	text-shadow: 2px 2px 8px #1d1d1d;
	color: #fff;
    font-size: 50px;
    margin: 0;
    margin-bottom: 20px;
    text-align: center;
}
.box-search{
	text-align: center;
}
.text-field{
	width: 60%;
	box-sizing: border-box;
	padding:10;
	font-size: 40px;
}
.bttn{
 
 display: inline-block;
 border:1px solid #C9AE34;
 color: #705D07;
 border-radius: 3px 3px 3px 3px;
 -webkit-border-radius: 3px 3px 3px 3px;
 -moz-border-radius: 3px 3px 3px 3px;
 font-family: Verdana;
 width: auto;
 height: auto;
 height: 52px;
 padding:5px;
 position: relative;
 top:-11px;
 text-shadow: 0 1px 0 #FFFFFF;
 background-image: linear-gradient(to top, #FCE374, #FCDF5B);
 background-color: #FCE374;
 box-shadow: inset 0 1px 0 0 #FFF6CE,inset 0 -1px 0 0 #E3C852,inset 0 0 0 1px #FCE88D,0 2px 4px 0 rgba(0,0,0,.5);
 -moz-box-shadow: inset 0 1px 0 0 #FFF6CE,inset 0 -1px 0 0 #E3C852,inset 0 0 0 1px #FCE88D,0 2px 4px 0 rgba(0,0,0,.5);
 -webkit-box-shadow: inset 0 1px 0 0 #FFF6CE,inset 0 -1px 0 0 #E3C852,inset 0 0 0 1px #FCE88D,0 2px 4px 0 rgba(0,0,0,.5);
 text-shadow: 0 1px 0 #FFFFFF;

}
.bttn:active, .bttn:hover{
	
 border:1px solid #967D09;
 color: #705D07;
 box-shadow: inset 0 1px 0 0 #FFF6CE,inset 0 -1px 0 0 #E3C852,inset 0 0 0 1px #FCE88D;
 -moz-box-shadow: inset 0 1px 0 0 #FFF6CE,inset 0 -1px 0 0 #E3C852,inset 0 0 0 1px #FCE88D;
 -webkit-box-shadow: inset 0 1px 0 0 #FFF6CE,inset 0 -1px 0 0 #E3C852,inset 0 0 0 1px #FCE88D;
 background-color: #FCDF5B;
 cursor: pointer;
}

