<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
    <title>MOPITEU- Comida sem sair de casa</title>


    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <!-- Favicons-->
    <link rel="shortcut icon" href="/static//img/faaavicon.ico" type="image/x-icon"/>
    <link rel="apple-touch-icon" type="image/x-icon" href="/static/coming_soon/img/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="/static/coming_soon/img/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="/static/coming_soon/img/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="/static/coming_soon/img/apple-touch-icon-144x144-precomposed.png">
    
    <!-- CSS -->
    <link href="/static/coming_soon/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/coming_soon/css/style.css" rel="stylesheet">
    <link href="/static/coming_soon/fontello/css/fontello.css" rel="stylesheet" >
    <link href="/static/coming_soon/fontello/css/animation.css" rel="stylesheet" >
    
    <!--[if lt IE 9]>
      <script src="http://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="http://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

  </head>
  <body>
  <script>
      function validateEmail(email) {
        var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(email);
    }
      function sendEmail(e){

          e.preventDefault();

          var email = $("#email_newsletter").val();

          if (validateEmail(email)){
                 //$("#newsletter-form").submit();
              alert(email);
          }
          else{
              alert("Email inválido");
          }
      }
  </script>

  
<div id="wrapper">
	<div id="main">
		<div class="container">
			
			<div class="row countdown">
            	<div class="col-md-12">
                	<div id="logo"><img src="/static/img/logo.png" width="190" height="23" alt="" data-retina="true"></div>
                    <h1>Voltaremos em breve!</h1>
                    <h2>Enquanto isso, você pode deixar o seu e-mail. Vamos informá-lo quando estivermos on-line!</h2>

                </div>
				<div id="countdown_wp">
                    <div class="container_count"><div id="days">00</div>dias</div>
                    <div class="container_count"><div id="hours">00</div>horas</div>
                    <div class="container_count"><div id="minutes">00</div>minutos</div>
                    <div class="container_count last"><div id="seconds">00</div>segundos</div>
                </div>
			</div>
            <div class="row">
						<div class="col-md-6 col-md-offset-3">
                        <div id="newsletter_wp" >
                            <form id="newsletter-form" method="post" action="/newsletter" id="newsletter" name="newsletter"  autocomplete="off">{% csrf_token %}
                                        <div class="row">
                                            <div class="col-md-9 first-nogutter">
                                                <input name="email" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" id="email_newsletter"  placeholder="Seu Email" class="form-control" required>
                                            </div>
                                            <div class="col-md-3 nogutter">
                                                    <button type="submit"  class="btn-check" id="submit-newsletter">Subscrever</button>
                                            </div>
                                        </div>
                                            <div id="message-newsletter"></div>
                                </form>
                            </div>
                        </div>	
                    </div>
                    <div id="social_footer">
                        <ul>
                            <li><a href="https://www.facebook.com/mopiteu/"><i class="icon-facebook"></i></a></li>
                            <li><a href="#"><i class="icon-twitter"></i></a></li>
                            <li><a href="#"><i class="icon-google"></i></a></li>
                            <li><a href="#"><i class="icon-vimeo"></i></a></li>
                            <li><a href="#"><i class="icon-youtube-play"></i></a></li>
                        </ul>
                        <p>© MOPITEU 2016</p>
                    </div>            
		</div><!-- End container -->
	</div><!-- End main -->

<div id="slides">
	<ul class="slides-container">
		<li><img src="/static/coming_soon/img/slide_1.jpg" alt=""></li>
		<li><img src="/static/coming_soon/img/slide_2.jpg" alt=""></li>
		<li><img src="/static/coming_soon/img/slide_3.jpg" alt=""></li>
	</ul>
</div><!-- End background slider -->

<!-- JQUERY -->
<script src="/static/coming_soon/js/jquery-1.11.2.min.js"></script>
<script src="/static/coming_soon/js/jquery.easing.1.3.min.js"></script>
<script src="/static/coming_soon/js/jquery.animate-enhanced.min.js"></script>
<script src="/static/coming_soon/js/jquery.superslides.min.js"></script>
<script  type="text/javascript">
  $('#slides').superslides({
	  play: 6000,
	  pagination:false,
	  animation_speed: 800,
      animation: 'fade'
    });
</script>
    <script>
      jQuery(document).ready(function(){

	$('#newsletter-form').submit(function(e){
        e.preventDefault();
        var email = $("#email_newsletter").val();

          if (validateEmail(email)){
              $("#newsletter-form")[0].submit();
          }
          else{
              alert("Email inválido");
          }

	});

});
  </script>
<!-- OTHER JS --> 
<script src="/static/coming_soon/js/retina.min.js"></script>
<script  src="/static/coming_soon/js/functions.js"></script>
<script src="/assets/validate.js"></script>
  </body>
</html>