/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
body{
	padding:0;
	margin:0;
	font-family: 'Source Sans Pro', sans-serif;
}
body a{
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
input[type="button"],input[type="submit"]{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
h1,h2,h3,h4,h5,h6{
	margin:0;			   
}	
p{
	margin:0;
}
ul{
	margin:0;
	padding:0;
}
label{
	margin:0;
}
.header {
	border-top: 3px solid #5BBD50;
}
.top-header{
	padding:2em 0;
}
.logo{
	float:left;
}
.queries{
	float:left;
	margin-left:15%;
}
.header-right li {
  display: block;
}
.header-right li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.1em;
  background:#D96B66;
  padding: 0.4em 2em;
  border-radius: 3px;
    -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  display:block;
}
.header-right li a:hover{
  color: #fff;
  background: #5fa022;
}
.header-right {
  float: right;
  vertical-align: middle;
}
.queries p{
	color:#727272;
	font-size:1.3em;
	font-weight:300;
	margin-top: 3px;
}
.box_1 h3 {
	color: #000;
	font-size: 1.2em;
	margin-bottom: 0;
	float: left;
}
.box_1 h3 img {
	margin-left: 3px;
}
a.simpleCart_empty {
	font-size: 0.85em;
	color: #5BBD50;
}
.queries p span{
	color:#E24425;
	margin-left:0.8em;
	font-weight:700;
	font-size:0.95em;
}
.queries p label{
	font-size:0.7em;
	color:#515151;
	font-weight:500;
}
.top-menu{
	float:left;
	color:#D9D9D9;
}
.login-section{
	float:right;
	color:#D9D9D9;
}
.top-menu ul li{
	display:inline-block;
	margin: 0 16px;
}
.top-menu ul li:first-child {
	margin-left: 0;
}
.top-menu ul li a{
	text-decoration:none;
	margin:0.5em 0;
	display:block;
	color: #494949;
	font-size:16px;
	font-weight:700;
	text-transform:uppercase;
}
.top-menu ul li.active a{
	color:#5BBD50;
}
.top-menu ul li a:hover{
	color:#5BBD50;
}
.login-section ul li{
	display:inline-block;
	margin: 0 16px;
}
.login-section ul li a{
	margin:0.5em 0;
	display:block;
	color: #515151;
	font-size:16px;
	font-weight:500;
}
.login-section ul li a.active {
	color:#5BBD50;
}
.login-section ul li a:hover{
	color:#E24425;
}
.menu-bar{
	background:#F1F1F1;
	padding:0.6em 0;
}
.banner{
	background: url("../img/banner.jpg") no-repeat;
	min-height: 450px;
	background-size: cover;
	position: relative;
}
.banner-info-head h1{
	color:#FFFFFF;
	font-size:3em;
	font-weight:100;
}
.srch{
	margin:16px 18px;
}
.srch button{
	cursor:pointer;
	background:url('../img/img-sprite.png') no-repeat 0px -69px;
	width:75px;
	height:45px;
	display:block;
	border: none;
	outline: none;
	position: absolute;
	bottom: 0;
	right: 4%;
}
.main-search{
	position:absolute;
	bottom: -29%;
    left: 69%;
	display:block;
	z-index:100;
	background: #515151;
	width:27%;
	height:60px;
	padding: 1% 1% 6% 1%;
}
.main-search:after {
	content: '';
	position: absolute;
	left: 262px;
	top:-10px;
	border-left: 10px solid rgba(0, 0, 0, 0);
	border-right: 10px solid rgba(0, 0, 0, 0);
	border-bottom: 10px solid #515151;
}
.main-search form{
	position:relative;
	background:#fff;
}
.main-search input[type="text"],.main-search input[type="submit"]{
	display:inline-block;
	border:none;
	color:#5d5d5d;
	outline:none;
	width:inherit;
	padding:inherit;
	font-size:14px;
	margin:inherit;
	-webkit-appearance: none;
	margin:0;
}
.main-search input[type="text"]{
	background:none;
	padding:10px;
	width:75%;
}
.main-search input[type="text"]:focus{
	color:#5d5d5d;
}
.main-search input[type="submit"]{
	position: absolute;
	top:6px;
	right:6px;
	background:url('../img/img-sprite.png') no-repeat -365px -40px;
	height: 25px;
	width: 25px;
	cursor:pointer;
}
.close{
	position:absolute;
	bottom:6px;
	right: 265px;
	color:#fff;
	padding: 0px 20px 0px 0px;
	cursor:pointer;
}
.line {
	background: url(../img/line.png) no-repeat 66px 21px;
	margin:0.5em 0 3.5em 0;
}
.line h2{
    color:#FFFFFF;
	font-family: 'Lobster Two', cursive;
	font-size:2.6em;
	font-weight:500;
}
.banner-info{
	padding-top:8em;
	position: relative;
}
.form-list ul li{
	display:inline-block;
	width: 30%;
}
.form-list input.text{
	width:92%;
	padding:0.6em 0.5em;
	border:none;
	outline:none;
	color:#C0C0C0;
	font-weight:400;
	margin-top: 7px;
	font-size:16px;
	border-radius:5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
}
.form-list span{
	color:#FFFFFF;
	font-size:19px;
	font-weight:700;
	display:block;
}
.ordering-section{
	padding:4em 0;
}
.ordering-section-head h3{
	color: #515151;
	font-family: 'Lobster Two', cursive;
	font-size: 2.6em;
	font-weight: 500;
}
.dotted-line h4{
	color:#E24425;
	font-weight:300;
	font-size:1.7em;
	width:80%;
	margin: 0 auto;
}
.dotted-line {
	background: url(../img/dotted-line.png) no-repeat 176px 14px;
	margin:1em 0 2.5em 0;
}
.ordering-section-grids {
	margin-top: 6em;
}
.ordering-section-grid-process label{
	position: absolute;
	background: url("../img/img-sprite.png") no-repeat -230px -79px;
	display: inline-block;
	width: 80px;
	height: 23px;
	top: 98%;
	right: -234%;;
}
.special-offers-section-head h4{
	color: #515151;
	font-family: 'Lobster Two', cursive;
	font-size: 2em;
	font-weight: 700;
}
.special-offers-section{
	background:#F1F1F1;
	padding:2em 0;
}
.top-restaurent-head h3{
	color: #515151;
	font-family: 'Lobster Two', cursive;
	font-size: 2.1em;
	font-weight: 700;
}
.popular-restaurents{
	padding:4em 0;
	background: #fff;
}
.top-restaurents{
	padding:0;
}
.res-img-1 {
	margin: 0 1.8em 0 0;
	width: 45%;
	float: left;
}
.res-img-2{
	margin-bottom:1.7em;
	float: left;
}
.top-restaurent-head {
	background: url(../img/dotted-line-right.png) no-repeat 240px 18px;
	margin: 0 0 3em 0;
}
.top-cuisine-head h3{
	color: #515151;
	font-family: 'Lobster Two', cursive;
	font-size: 2.1em;
	font-weight: 700;
}
.top-cuisine-head {
	background: url(../img/dotted-line-right-wide.png) no-repeat 253px 18px;
	margin: 0 0 3em 0;
}
.ordering-section-grid{
	background: url("../img/order-section-bg.png") no-repeat;
	min-height: 200px;
	position:relative;
	cursor: pointer;
}
.ordering-section-grid-process{
	position:absolute;
	top: -15%;
	left: 22%;
}
.ordering-section-grid-process i.one{
	width:65px;
	height:65px;
	background: url("../img/img-sprite.png") no-repeat 0px 0px;
	display: inline-block;
}
.ordering-section-grid:hover i.one,.ordering-section-grid:hover i.two,
.ordering-section-grid:hover i.three,.ordering-section-grid:hover i.four{
	transform: rotateY(360deg);
	-webkit-transform: rotateY(360deg);
	-moz-transform: rotateY(360deg);
	-o-transform: rotateY(360deg);
	-webkit-transition: 0.8s;
	-moz-transition: 0.8s;
	-o-transition: 0.8s;
	transition: 0.8s;
}
.ordering-section-grid-process i.two{
	width:65px;
	height:65px;
	background: url("../img/img-sprite.png") no-repeat -65px 0px;
	display: inline-block;
}
.ordering-section-grid-process i.three{
	width:65px;
	height:65px;
	background: url("../img/img-sprite.png") no-repeat -130px 0px;
	display: inline-block;
}
.ordering-section-grid-process i.four{
	width:65px;
	height:65px;
	background: url("../img/img-sprite.png") no-repeat -195px 0px;
	display: inline-block;
}
.ordering-section-grid-process i.one-icon{
	width:45px;
	height:45px;
	background: url("../img/img-sprite.png") no-repeat -260px 0px;
	display: inline-block;
	margin-left:0.55em;
}
.ordering-section-grid-process i.two-icon{
	width:45px;
	height:45px;
	background: url("../img/img-sprite.png") no-repeat -305px 0px;
	display: inline-block;
	margin-left:0.55em;
}
.ordering-section-grid-process i.three-icon{
	width:45px;
	height:45px;
	background: url("../img/img-sprite.png") no-repeat -350px 0px;
	display: inline-block;
	margin-left:0.75em;
}
.ordering-section-grid-process i.four-icon{
	width:45px;
	height:45px;
	background: url("../img/img-sprite.png") no-repeat -395px 0px;
	display: inline-block;
	margin-left:0.6em;
}
.ordering-section-grid-process p{
	font-size:18px;
	color: #fff;
	font-weight: 700;
	margin-top: 1.5em;
	position:absolute;
	left:-35%;
	width:112px;
	text-align: center;
}
.ordering-section-grid-process label{

}
.ordering-section-grid-process span{
	font-weight:300;
	color:#5BBD50;
	font-size:18px;
}
.top-cuisine-grid {
	width: 22%;
	float: left;
	margin:0 4% 5% 0;
}
.top-cuisine-grid label{
	padding: 7px 27px;
	font-size: 17.37px;
	color: #515151;
	border: 1px solid #DBDBDB;
	border-top:none;
	background:#F1F1F1;
	cursor:pointer;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}
.nth-grid{
	margin-right:0;
}
.top-cuisine-grid:hover label{
	background: #5BBD50;
	color:#fff;
}
.nth-grid1{
	margin-bottom:0;
}
.service-section-top-row{
	padding:3em 0;
}
.service-section {
	background: #fff;
}
.special-offers-section-grids {
	padding-bottom: 6em;
}
.service-section-top-row{
	border-top:2px solid #F1F1F1;
	border-bottom:2px solid #F1F1F1;
}
.icon{
	float:left;
	margin-right:6%;
	width:26%;
}
.icon-data{
	float:left;
	width: 68%;
}
.icon-data h4{
	color:#5BBD50;
	font-size:1.4em;
	font-family: 'Lobster Two', cursive;
	font-weight:700;
	margin:0.8em 0 0.5em 0;
}
.service-section-bottom-row {
	padding: 3em 0;
}
.service-section-top-row-grids{
	background: url("../img/service-banner.jpg") no-repeat;
	min-height: 136px;
	background-size: cover;
	position: relative;
}
.service-section-top-row-grid1 h3{
	font-size:2.3em;
	font-weight:500;
	font-family: 'Lobster Two', cursive;
	color:#FFCC00;
	padding-top: 1em;
}
.service-section-top-row-grid2 i.arrow{
	width: 25px;
	height: 25px;
	background: url("../img/img-sprite.png") no-repeat -341px -47px;
	display: inline-block;
	vertical-align: middle;
}
.service-section-top-row-grid2 ul li{
	display:inline-block;
	padding:2px 0;
}
.service-section-top-row-grid2{
	padding-top:1.8em;
}
.service-section-top-row-grid2 ul li.lists{
	color:#fff;
	font-size:17px;
	font-weight:700;
}
.service-section-top-row-grid3 {
	margin-top: 0.8em;
	padding:0;
}
.service-section-top-row-grid4{
	padding-top:3.2em;
}
.service-section-top-row-grid4 input[type="submit"]{
	outline: none;
	border: 3px solid #fff;
	background: #5BBD50;
	color: #fff;
	font-size: 18px;
	font-weight: 700;
	padding: 0.4em 1.3em;
	border-radius: 5px;
}
.service-section-top-row-grid4 input[type="submit"]:hover{
	border: 3px solid #5BBD50;
	background:#C92C0E;
}
.icon-data p{
	color:#8F8F8F;
	font-weight:500;
	font-size:15px;
	line-height:1.2em;
}
.contact-section{
	padding:3em 0;
	background:#515151;
}
.contact-section-grid h4{
	color:#FFFFFF;
	font-size:1.5em;
	font-weight:700;
	font-family: 'Lobster Two', cursive;
	margin-bottom:1.2em;
}
.contact-section-grid ul li{
	display:inline-block;
}
.contact-section-grid ul {
	border-bottom:1px dotted #9D9D9D;/*--888888*/
}
.contact-section-grid ul li i.point{
	width:20px;
	height:15px;
	background: url("../img/img-sprite.png") no-repeat -260px -46px;
	display: inline-block;
	vertical-align: middle;
	margin-right:5px;
}
.contact-section-grid ul li i.fb{
	width:15px;
	height:15px;
	background: url("../img/img-sprite.png") no-repeat -280px -46px;
	display: inline-block;
	vertical-align: middle;
	margin-right:5px;
	border-radius: 3px;
}
.contact-section-grid ul li i.tw{
	width:15px;
	height:15px;
	background: url("../img/img-sprite.png") no-repeat -295px -46px;
	display: inline-block;
	vertical-align: middle;
	margin-right:5px;
	border-radius: 3px;
}
.contact-section-grid ul li i.in{
	width:15px;
	height:15px;
	background: url("../img/img-sprite.png") no-repeat -310px -46px;
	display: inline-block;
	vertical-align: middle;
	margin-right:5px;
	border-radius: 3px;
}
.contact-section-grid ul li i.gp{
	width:15px;
	height:15px;
	background: url("../img/img-sprite.png") no-repeat -325px -46px;
	display: inline-block;
	vertical-align: middle;
	margin-right:5px;
	border-radius: 3px;
}
.contact-section-grid ul li.data{
	color:#A9A9A9;
	font-weight:600;
	font-size:15px;
	margin:0.6em 0;
}
.contact-section-grid ul li a{
	color:#A9A9A9;
}
.contact-section-grid ul li a:hover{
	color:#fff;
}
.contact-section-grid {
	width: 24%;
	margin-right: 1%;
}
.contact-section-grid p{
	color:#8F8F8F;
	font-weight:600;
	font-size:16px;
}
.contact-section-grid input.text {
	border: 2px solid #737373;
	outline: none;
	border-radius: 5px;
	background:#515151;
	padding:0.5em;
	width:100%;
	margin:1.5em 0;
	color:#fff;
}
.contact-section-grid input[type="submit"]{
	outline: none;
	border:none;
	background:#5BBD50;
	color:#fff;
	font-size:16px;
	font-weight:700;
	padding:0.4em 1.2em;
	border-radius:5px;
}
.contact-section-grid input[type="submit"]:hover{
	background:#5BDD4C;
}

/*-- orders-list --*/
.orders {
	padding: 3em 0;
}
.order-top h4 {
	color: #1A1A1A;
	font-size: 1.5em;
	font-weight: 600;
	margin-bottom: 1em;
}
.order-top p {
  color: #6b6969;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.8em;
  margin: 1em 0;
}
.order-top h6 {
  color: #621622;
  margin: 1em 0;
}
.order-top {
  padding: 1.5em 0;
  border-bottom: 1px dotted #5fa022;
}
.pre-top a {
  color: #5B9922;
  font-size: 1em;
  font-weight: 600;
  text-decoration: none;
  display: inline-block;
}
.pre-top a:hover {
  color: #E24425;
}
.pr-left {
  float: left;
  width: 50%;
}
.pr-right {
  float: left;
  width: 50%;
  margin: 0.6em 0;
}
li.item-lists {
  float: left;
  width: 50%;
}
.order-top li {
  display: inline-block;
  vertical-align: middle;
}
/*-- orders-list --*/
/*-- cart-page --*/
.cart-items {
	padding: 3em 0;
}
.cart-items h1 {
  font-size: 1.85em;
  margin-bottom:1.7em;
}
.cart-item {
  width: 20%;
  float: left;
  margin-right: 5%;
}
.cart-item img {
  width: 100%;
}
.close1, .close2,.close3 {
  background: url('../img/close_1.png') no-repeat 0px 0px;
  cursor: pointer;
  width: 28px;
  height: 28px;
  position: absolute;
  right: 0px;
  top: 0px;
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
.cart-item-info {
  width: 75%;
  float: left;
}
.cart-item-info h3 {
  font-size: 1em;
  font-weight: 600;
}
.cart-item-info h3 a {
  color: #000;
}
.cart-item-info h3 span {
  display: block;
  font-weight: 400;
  font-size: 0.85em;
  margin: 0.7em 0;
}
ul.qty {
  padding: 0;
  margin: 0;
  list-style: none;
}
ul.qty li {
  display: inline-block;
  margin-right: 10%;
}
ul.qty li p {
  font-size: 0.8125em;
  color: #555;
}
.delivery {
  margin-top: 3em;
}
.delivery p {
  color: #A6A6A6;
  font-size: 1em;
  font-weight: 400;
  float: left;
}
.delivery span {
  color: #A6A6A6;
  font-size: 1em;
  font-weight: 400;
  float: right;
}
.cart-sec {
	margin-bottom: 3em;
	background-color: #F9F9F9;
	padding: 20px;
}
.cart-header,.cart-header2,.cart-header3 {
  position: relative;
}
/*-- cart-page --*/
.footer{
	padding:3em 0;
	background:#4D4D4D;
}
.footer p{
	color:#5BBD50;
	font-size:16px;
	font-weight:500;
}
.footer a{
	color:#FFF;
}
.footer a:hover{
	color:#5BBD50;
}
#flexiselDemo3 {
	display: none;
}
.nbs-flexisel-container {
	position: relative;
	max-width: 100%;
}
.nbs-flexisel-ul {
	position: relative;
	width: 9999px;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	text-align: center;
}
.nbs-flexisel-item {
	float: left;
	margin: 0px;
	padding: 0px;
	cursor: pointer;
	position: relative;
	line-height: 0px;
	padding-right:30px;
}
.nbs-flexisel-item > img {
	cursor: pointer;
	position: relative;
}
/*** Navigation ***/
.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
	width: 45px;
	height: 45px;
	position: absolute;
	cursor: pointer;
	z-index: 100;
	margin-top:10.4em;
}
.nbs-flexisel-nav-left {
	left:35.5em;
	background: url(../img/img-sprite.png) no-repeat -440px 0px;
}
.nbs-flexisel-nav-right {
	right:37em;
	background: url(../img/img-sprite.png) no-repeat -485px 0px;
}
.offer{
	background:#fff;
	padding:1.3em;
	border-radius:6px;
}
.offer-image{
	float:left;
	width:49%;
	margin-right: 5%;
}
.offer-text{
	float:left;
	width:46%;
	text-align: left;
	margin: 0.3em 0;
	position:relative;
}
.offer-text  span{
	width: 20px;
	height: 15px;
	background: url("../img/img-sprite.png") no-repeat -260px -58px;
	display: inline-block;
	position: absolute;
	top: 85%;
	right: 43%;
}
.offer-text h4{
	color:#5BBD50;
	font-weight:700;
	font-size:17px;
	margin-bottom:0.7em;
}
.offer-text p{
	color:#8F8F8F;
	font-weight:400;
	font-size:15px;
	line-height:1.2em;
}
.offer-text input[type="button"]{
	padding: 1em 2.3em 1em 0.6em;
	border:none;
	outline:none;
	border-radius:5px;
	color:#fff;
	background:#E24425;
	font-size:15px;
	font-weight:600;
	text-transform:uppercase;
	margin-top:1em;
}
.offer-text input[type="button"]:hover{
	background:#5BBD50;
}
.m_3 {
	text-align: center;
	position: relative;
}
span.middle-dotted-line{
	height: 1px;
	width: 4em;
	display: block;
	background: #D8D5D5;
	position: absolute;
	left: 38.5em;
	bottom: -246px;
}
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 10px;
	right: 10px;
	overflow: hidden;
	width: 48px;
	height: 48px;
	border: none;
	text-indent: 100%;
	background: url("../img/to-top2.png") no-repeat 0px 0px;
}
/*login-page*/
ul.breadcrumbs{
	padding:0;
	list-style:none;
	float:left;
}
ul.breadcrumbs li{
	display:inline-block;
	font-size:0.8125em;
	color:#999;
}
ul.breadcrumbs li.women{
	background:#faef03;
	padding:3px;
}
ul.previous{
	padding:0;
	list-style:none;
	float:right;
}
ul.previous li a{
	color:#999;
	font-size:0.8125em;
}
.dreamcrub{
	margin:2em 0;
	font-family: 'Roboto', sans-serif;
}
.mens-toolbar {
	font-family: 'Roboto', sans-serif;
	margin-bottom: 2em;
}
.mens-toolbar .sort {
	float: left;
	width: 20.5%;
}
.sort-by {
	color:#000;
	font-size: 0.8125em;
	text-transform: uppercase;
}
.sort-by label{
	font-weight:normal;
}
.mens-toolbar .pages {
	float: right;
	margin: 0;
}
ul.women_pagenation.dc_paginationA.dc_paginationA06 {
	float:right;
	padding:0;
	list-style:none;
}
.pages{
	float:right;
}
.pages .limiter {
	color: #000;
	font-size: 0.8125em;
	text-transform: uppercase;
}
.pages .limiter select {
	padding: 0;
	margin: 0 0 1px;
	vertical-align: middle;
}
ul.women_pagenation li {
	float: left;
	margin: 0px;
	margin-left: 5px;
	padding: 0px;
	list-style:none;
}
ul.women_pagenation li a {
	color:#000;
	display: block;
	padding:4px 8px;
	text-decoration: none;
	font-size: 0.8125em;
	text-transform:uppercase;
}
ul.women_pagenation li.active a{
	background:#26d2fc;
	color:#fff;
}
ul.women_pagenation li a:hover{
	background:#26d2fc;
	color:#fff;
}
.limiter.visible-desktop label{
	font-weight:normal;
	margin:0;
}
.pages .limiter label {
	vertical-align: middle;
}
.category{
	margin-top:2em;
	font-family: 'Roboto', sans-serif;
}
ul.category_nav{
	padding:0;
	list-style:none;
	background:#81e6fe;
}
ul.category_nav li {
	padding-left: 1.5em;
}
ul.category_nav li a {
	color: #333;
	font-size: 0.85em;
	text-transform: uppercase;
	font-weight: bold;
	display: block;
	padding: 10px 15px;
}
ul.category_nav li:hover {
	background: #333;
	color: #fff;
}
ul.category_nav li a:hover {
	color:#fff;
	text-decoration:none;
}
/*--single--*/
.singel_right {
	margin-top: 3em;
}
.span_1_of_a1 {
	width: 36.2%;
}
.labout {
	display: block;
	float: left;
	margin: 0 3.6% 0 0;
}
.single {
	background: url(../img/single.jpg)no-repeat center top;
	background-size: 100% 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center;
}
.cont1 {
	display: block;
	float: left;
}
.span_2_of_a1 {
	width:60.1%;
	font-family: 'Roboto', sans-serif;
}
.span_2_of_a1 h1{
	color:#333;
	text-transform:uppercase;
	font-size:1.7em;
	font-weight:bold;
}
ul.rating{
	padding:0;
	list-style:none;
}
ul.rating li{
	float: left;
}
ul.rating li a{
	color: #08080B;
	padding: 0.1em 0;
	font-size: 0.8em;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
}
ul.rating li a:hover, .price_single a:hover, ul.size li a:hover{
	color:#ee4a02;
	text-decoration:none;
}
.product-rate label {
	width: 54px;
	height: 24px;
	display: inline-block;
	background: url(../img/img-sprite.png) no-repeat -155px -56px;
	margin-right: 5px;
}
.price_single {
	font-size:1.3em;
	margin: 0.5em 0 1.5em;
}
span.reducedfrom {
	text-decoration: line-through;
	margin-right: 3%;
	color: #555;
}
span.actual {
	color:#ee4a02;
	font-size: 1em;
	margin-right: 5%;
}
.price_single a {
	color: #999;
	font-size: 13px;
}
h2.quick{
	color:#555;
	font-size:0.85em;
	text-transform:uppercase;
}
p.quick_desc{
	color:#999;
	font-size:0.8125em;
	line-height:1.8em;
}
ul.size{
	padding:0;
	list-style:none;
	margin-top:2em;
}
ul.size h3{
	color: #555;
	font-size: 0.85em;
	text-transform: uppercase;
}
ul.size li {
	display: inline-block;
	margin: 0 10px 0 0;
}
ul.size li a {
	color: #555;
	font-size: 0.8125em;
	background:#fff;
	padding: 5px 10px;
}
ul.product-qty{
	padding:0;
	list-style:none;
}
.product-qty span {
	color: #555;
	font-size: 0.85em;
	padding-bottom: 0.5em;
	display: block;
	text-transform: uppercase;
	margin-top: 2em;
}
.product-qty select {
	border: 1px solid #eee;
	padding: 0.5em;
	font-size: 1em;
	outline: none;
}
.product-qty option {
	border: 1px solid #EEE;
}
.btn_form form input[type="submit"] {
	cursor: pointer;
	border: none;
	outline: none;
	display: inline-block;
	font-size: 1em;
	padding: 13px 20px;
	background: #fb4d01;
	color: #FFF;
	text-transform: uppercase;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	margin-top: 2em;
}
.btn_form form input[type="submit"]:hover{
	background: #ee4a02;
}
h3.like, h3.recent{
	color: #333;
	font-size: 1.7em;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	font-style: italic;
	font-weight: bold;
	margin-bottom: 1em;
}
h3.recent{
	padding-top:2em;
}
#flexiselDemo1, #flexiselDemo3 {
	display: none;
}
.nbs-flexisel-container {
	position: relative;
	max-width: 100%;
}
.nbs-flexisel-ul {
	position: relative;
	width: 9999px;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	text-align: center;
}
.nbs-flexisel-inner {
	overflow: hidden;
	margin: 0 auto;
}
.nbs-flexisel-item > img {
	cursor: pointer;
	position: relative;
	margin-top:10px;
	margin-bottom: 10px;
	max-width:350px;
	max-height:500px;
}
.grid-flex{
	margin:10px 0 20px 0;
	font-family: 'Roboto', sans-serif;
}
.nbs-flexisel-item a {
	color: #000;
	font-size:0.8125em;
	text-transform:uppercase;
}
.nbs-flexisel-item a:hover{
	color:#555;
}
.nbs-flexisel-item > img {
	cursor: pointer;
	positon: relative;
}
/*** Navigation ***/
.nbs-flexisel-nav-left {
	left: 481px;
	background: url(../img/img-sprite.png) no-repeat -440px 0px;
}
/******** SAP ************/
.sap_tabs{
	clear:both;
	padding: 1em 0 4em;
	font-family: 'Roboto', sans-serif;
}
.facts {
	border: 1px solid #E6E6E6;
}
.top1{
	margin-top: 2%;
}
.resp-tabs-list {
	width: 100%;
	list-style: none;
	padding: 0;
}
.resp-tab-item:first-child{
	border-left:none;
}
.resp-tab-item{
	color: #777;
	font-size: 0.8125em;
	cursor: pointer;
	padding: 12px 10px;
	display: inline-block;
	margin: 0;
	text-align: center;
	list-style: none;
	float: left;
	outline: none;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	text-transform: uppercase;
}
.resp-tab-item:hover {
	text-shadow: none;
	color: #F27141;
}
.resp-tab-active{
	background:#26d2fc;
	text-shadow: none;
	color:#000;
}
.resp-tabs-container {
	padding: 0px;
	clear: left;
}
h2.resp-accordion {
	cursor: pointer;
	padding: 5px;
	display: none;
}
.resp-tab-content {
	display: none;
}
.resp-content-active, .resp-accordion-active {
   display: block;
}
h2.resp-accordion {
	font-size:1em;
	margin: 0px;
	padding: 10px 15px;
	background:#f77462;
	margin:10px 0;
	color:#fff;
}
h2.resp-accordion:hover{
	background:#6CC5D9;
	text-shadow: none;
	color: #FFF;
}
@media only screen and (max-width:480px) {
.sap_tabs{
	padding-top:0;
}
.resp-tabs-container{
	padding:10px;
}
ul.resp-tabs-list {
  	display: none;
}
h2.resp-accordion {
  	display: block;
}
.resp-vtabs .resp-tab-content {
  	border: 1px solid #C1C1C1;
}
.resp-vtabs .resp-tabs-container {
	border: none;
	float: none;
	width: 100%;
	min-height: initial;
	clear: none;
}
.resp-accordion-closed {
	display: none !important;
}
}
ul.tab_list{
	list-style: none;
	padding:1em;
}
ul.tab_list li {
	margin-bottom: 10px;
}
ul.tab_list li a {
	color: #888;
	font-size: 0.8125em;
	line-height: 1.8em;
	vertical-align: top;
	text-decoration: none;
}
ul.tab_list li a:hover {
	color:#333;
}
/*--contact--*/
p.comment-form-author {
	margin-bottom: 2em;
}
.contact-form label {
	display: block;
	font-size: 0.8125em;
	color: #000;
	text-transform: uppercase;
}
.contact-form input[type="text"] {
	padding: 10px;
	width: 95%;
	color: #9198A3;
	font-size: 0.8125em;
	background: #fff;
	outline: none;
	display: block;
	border: 1px solid #eee;
}
.contact-form textarea {
	padding: 10px;
	display: block;
	width: 95%;
	background: #fff;
	border: 1px solid #eee;
	outline: none;
	color: #9198A3;
	font-size: 0.8125em;
	-webkit-appearance: none;
	resize: none;
	height: 150px;
}
.contact-form input[type="submit"] {
	display: inline-block;
	padding: 13px 25px;
	background: #fb4d01;
	color: #FFF;
	font-size: 1em;
	line-height: 18px;
	text-transform: uppercase;
	border: none;
	outline: none;
	transition: 0.2s;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
}
.contact-form input[type="submit"]:hover{
	background:#26d2fc;
}
.map{
	position:relative;
}
.contact_logo{
	position:absolute;
	left:18em;
	top:2em;
}
.lcontact {
	display: block;
	float: left;
	margin: 0 3.6% 0 0;
}
.span_1_of_contact{
	width:60.1%;
	font-family: 'Roboto', sans-serif;
}
.span_2_of_contact_right {
	width:36.2%;
	font-family: 'Roboto', sans-serif;
}
.contact_grid{
	display: block;
	float: left;
}
.span_2_of_contact_right h3{
	font-size:1em;
	font-weight:bold;
	color:#000;
	margin-bottom: 1.5em;
}
i.pin_icon{
	width: 20px;
	height: 25px;
	background: url(../img/img-sprite.png)no-repeat -150px -123px;
	float:left;
	margin-right: 10px;
}
i.phone{
	width: 20px;
	height: 25px;
	background: url(../img/img-sprite.png)no-repeat -189px -126px;
	float: left;
	margin-right: 10px;
}
i.mail{
	width: 20px;
	height: 25px;
	background: url(../img/img-sprite.png)no-repeat -229px -126px;
	float: left;
	margin-right: 10px;
}
.contact_address, .contact_email {
	overflow: hidden;
	font-size: 0.8125em;
	color: #999;
	line-height: 1.5em;
}
.contact_email{
	cursor:pointer;
}
.contact_email:hover{
	color:#000;
}
.address{
	margin-bottom:1em;
}
/*--login--*/
.login-left {
	padding: 0;
}
.login-left h3, .login-right h3 {
	color:#000;
	font-size: 1.5em;
	padding-bottom: 0.5em;
	font-weight:600;
}
.login-left p, .login-right p {
	color: #555;
	display: block;
	font-size: 1.1em;
	margin: 0 0 2em 0;
	line-height: 1.5em;
}
.acount-btn {
	background: #E24425;
	color: #FFF;
	font-size: 1em;
	padding: 0.7em 1.2em;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	display: inline-block;
	text-transform: uppercase;
}
.acount-btn:hover, .login-right input[type="submit"]:hover{
	background:#5BBD50;
	text-decoration:none;
	color:#fff;
}
.login-right form {
	padding: 1em 0;
}
.login-right form div {
	padding: 0 0 2em 0;
}
.login-right span {
	color: #555;
	font-size:1em;
	padding-bottom: 0.2em;
	display: block;
	text-transform: uppercase;
}
.login-right input[type="text"],.login-right input[type="password"] {
	border: 1px solid #EEE;
	outline-color:#fb4d01;
	width: 96%;
	font-size:0.8125em;
	padding: 0.5em;
}
.login-right input[type="submit"] {
	background: #E24425;
	color: #FFF;
	font-size: 1em;
	padding: 0.7em 1.2em;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	display: inline-block;
	text-transform: uppercase;
	border:none;
	outline:none;
}
a.forgot {
	font-size: 1em;
	margin-right: 11px;
}
ul.breadcrumbs{
	padding:0;
	list-style:none;
	float:left;
}
ul.breadcrumbs li{
	display:inline-block;
	font-size:1.1em;
	color:#000;
}
ul.breadcrumbs li.women{
	background:#5BBD50;
	padding:3px;
}
ul.previous{
	padding:0;
	list-style:none;
	float:right;
}
ul.previous li a{
	color:#999;
	font-size:1.1em;
}
.dreamcrub{
	margin:2em 0 5em 0;
	font-family: 'Roboto', sans-serif;
}
.mens-toolbar {
	font-family: 'Roboto', sans-serif;
	margin-bottom: 2em;
}
.mens-toolbar .sort {
	float: left;
	width: 20.5%;
}
.sort-by {
	color:#000;
	font-size: 0.8125em;
	text-transform: uppercase;
}
.sort-by label{
	font-weight:normal;
}
.mens-toolbar .pages {
	float: right;
	margin: 0;
}
ul.women_pagenation.dc_paginationA.dc_paginationA06 {
	float:right;
	padding:0;
	list-style:none;
}
.pages{
	float:right;
}
.pages .limiter {
	color: #000;
	font-size: 0.8125em;
	text-transform: uppercase;
}
.pages .limiter select {
	padding: 0;
	margin: 0 0 1px;
	vertical-align: middle;
}
ul.women_pagenation li {
	float: left;
	margin: 0px;
	margin-left: 5px;
	padding: 0px;
	list-style:none;
}
ul.women_pagenation li a {
	color:#000;
	display: block;
	padding:4px 8px;
	text-decoration: none;
	font-size: 0.8125em;
	text-transform:uppercase;
}
ul.women_pagenation li.active a{
	background:#26d2fc;
	color:#fff;
}
ul.women_pagenation li a:hover{
	background:#26d2fc;
	color:#fff;
}
.login-page {
	padding: 2em 0;
}
/*--register--*/
.register{
	padding:3em 0 5em 0;
}
.register-top-grid h3, .register-bottom-grid h3 {
	color:#000000;
	font-size: 1.4em;
	padding-bottom: 15px;
	margin: 0;
	font-weight: 600;
}
.register-top-grid div, .register-bottom-grid div {
	width: 48%;
	float: left;
	margin: 10px 0;
}
.register-top-grid span, .register-bottom-grid span {
	color:#555;
	font-size: 1.1em;
	padding-bottom: 0.2em;
	display: block;
	text-transform: uppercase;
}
.main {
	background: #F8F8F8;
}
.register-top-grid input[type="text"], .register-bottom-grid input[type="password"] {
	border: 1px solid #EEE;
	outline-color:#FF5B36;
	width: 96%;
	font-size: 1em;
	padding: 0.5em;
}
.checkbox {
	margin-bottom: 4px;
	padding-left: 27px;
	font-size: 1.1em;
	line-height: 27px;
	cursor: pointer;
}
.checkbox {
	float: left;
	position: relative;
	font-size: 0.85em;
	color:#555;
}
.checkbox:last-child {
	margin-bottom: 0;
}
.news-letter {
	color: #555;
	font-weight:600;
	font-size: 0.85em;
	margin-bottom: 1em;
	display: block;
	text-transform: uppercase;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	clear: both;
}
.checkbox i {
	position: absolute;
	bottom: 5px;
	left: 0;
	display: block;
	width:20px;
	height:20px;
	outline: none;
	border: 2px solid #D2CF99;
}
.checkbox input + i:after {
	content: '';
	background: url("../img/tick1.png") no-repeat 1px 2px;
	top: -1px;
	left: -1px;
	width: 15px;
	height: 15px;
	font: normal 12px/16px FontAwesome;
	text-align: center;
}
.checkbox input + i:after {
	position: absolute;
	opacity: 0;
	transition: opacity 0.1s;
	-o-transition: opacity 0.1s;
	-ms-transition: opacity 0.1s;
	-moz-transition: opacity 0.1s;
	-webkit-transition: opacity 0.1s;
}
.checkbox input {
	position: absolute;
	left: -9999px;
}
.checkbox input:checked + i:after {
	opacity: 1;
}
.news-letter:hover {
	color:#00BFF0;
}
.register-but{
	margin-top:1em;
}
.register-but form input[type="submit"] {
	background:#E24425;
	color: #FFF;
	font-size: 1.2em;
	padding: 0.6em 2em;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	display: inline-block;
	text-transform: uppercase;
	border:none;
	outline:none;
}
.register-but input[type="submit"]:hover {
	background:#5BBD50;
}
div.register-bottom-grid {
	margin-top:3em;
}
/*--checkout--*/
h4.title {
	color: #555;
	margin-bottom: 0.5em;
	font-size:1em;
	line-height: 1.2;
	font-weight: normal;
	margin-top: 0px;
	letter-spacing: -1px;
	text-transform: uppercase;
	border-bottom: 1px solid #DFDDDD;
	padding-bottom: 13px;
}
/*--contact-page--*/
.contact-head {
	padding: 3.2em 0;
	background: #5BBD50;
}
.contact-head h3 {
	text-align: left;
	color: #fff;
	font-size: 2em;
	text-transform: uppercase;
	font-weight: 700;
}
.contact_top {
	padding:4em 0 3em 0;
}
.contact-head h3 {
	text-align: left;
	color: #fff;
	font-size: 2em;
	text-transform: uppercase;
	font-weight: 700;
}
.contact-head p {
	text-align: left;
	color: #fff;
	font-size: 1.2em;
	font-weight: 300;
	margin: 0.2em auto;
}
.contact-top h3 {
	color: #FFF;
	font-size: 1em;
	text-transform: uppercase;
	font-weight: 400;
	margin: 0 0 1em;
}
.contact_left p{
	color:#999;
	font-size:0.85em;
	line-height:1.5em;
	margin-bottom: 1em;
}
.contact_left p span{
	cursor:pointer;
	color:#2aacc8;
}
.contact_left p span:hover{
	text-decoration:underline;
}
.form_details input[type="text"], .form_details textarea {
	padding: 10px;
	width: 65%;
	font-size: 1.2em;
	margin: 10px 0px;
	border: 1px solid #8A8888;
	color: #8A8888;
	background: none;
	-webkit-appearance: none;
	float: left;
	outline: none;
	font-weight: 500;
}
.form_details textarea:hover {
	border: 1px solid #5BBD50;
}
.form_details input[type="text"]:hover{
	border: 1px solid #5BBD50;
}
.form_details textarea {
	height:200px;
	resize:none;
	width:100%;
}
.form_details input[type="submit"] {
	margin-top:1em;
	color: #fff;
	font-size: 1.3em;
	padding: 0.7em 1em;
	-webkit-appearance:none;
	text-transform: uppercase;
	display: inline-block;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	font-weight:600;
	border:none;
	text-transform:uppercase;
	outline: none;
	cursor: pointer;
	background:#E24426;
}
.form_details input[type="submit"]:hover {
 	text-decoration: none;
	color: #fff;
	background: #5BBD50;

}
.sub-button {
	margin-bottom: 25px;
}
.company_ad {
	margin-top: 2em;
}
.contact_left h4{
	font-size: 2em;
	text-transform: uppercase;
	color: #000000;
	font-weight: 700;
	margin-bottom: 5px;
}
.contact_left p{
	text-align: left;
	color: #8A8888;
	font-size: 1.2em;
	font-weight: 500;
	width: 90%;
	line-height: 1.3em;
}
.company_ad h3{
	font-size:1.8em;
	text-transform: uppercase;
	color:#000000;
	font-weight:600;
}
.company_ad span{
	font-size: 1.2em;
	line-height: 1.2em;
	color:#8A8888;
	font-weight: 400;
}
.company_ad p{
	font-size: 1.1em;
	line-height: 1.3em;
	color: #8A8888;
}
address {
	margin-top: 1em;
}
.company_ad p a{
	color:#5BBD50;
}
.company_ad lable{
	font-size: 1em;
	line-height: 1.2em;
	color: #2ECC71;
	margin-left: 2px;
}
.contact-map iframe {
	min-height: 285px;
	width: 100%;
	border: none;
}
.contact_left {
	padding: 0;
	width: 47%;
	margin-right: 5%;
}
.company-right {
	padding: 0;
	width: 48%;
}
.follow-us  h3 {
	font-weight: 600;
	font-size: 2em;
	font-family: 'Source Sans Pro', sans-serif;
}
.follow-us i{
	width:45px;
	height:45px;
	background: url("../img/img-sprite.png") no-repeat 0px 0px;
	display: inline-block;
}
.follow-us i:hover{
	width:45px;
	height:45px;
	background: url("../img/img-sprite.png") no-repeat 0px 0px;
	display: inline-block;
	opacity:0.5;
}
.follow-us i.facebook{
	background-position:-79px -69px;
}
.follow-us i.facebook:hover{
	background-position:-79px -69px;
}
.follow-us i.twitter{
	background-position:-124px -69px;
}
.follow-us i.twitter:hover{
	background-position:-124px -69px;
}
.follow-us i.google-pluse{
	background-position:-169px -69px;
}
.follow-us i.google-pluse:hover{
	background-position:-169px -69px;
}
/*--order-page--*/
.car_wrap {
	position: relative;
	margin: 0 -10px;
	overflow: hidden;
	padding: 4em 0;
}
.content.page1 .car_wrap h2 {
	padding-left: 10px;
	padding-top: 23px;
	padding-bottom: 3px;
}
.carousel1 {
	height: 249px;
}
.carousel1 li {
	float: left;
	width: 240px !important;
	font-size: 12px;
	list-style-type:none;
}
.carousel1 li >div {
	padding: 0 10px;
}
.carousel1 li .price {
	display: inline-block;
	background: #699440;
	color: #fff;
	min-width: 41px;
	height: 38px;
	border-radius: 4px;
	font: 20px/36px 'Lobster', cursive;
	text-align: center;
	margin-top: 15px;
}
.carousel1 li span {
	line-height: 16px;
}
.carousel1 img {
	box-shadow: 2px 2px 3px #ddd;
	padding: 4px;
	background: #fff;
	border: 1px solid #e6e4e4;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 19px;
}
.prev {
	background: url(../img/prevnext.png) 0 bottom no-repeat;
	display: block;
	position: absolute;
	right: 42px;
	top: 15%;
	width: 32px;
	z-index: 999;
	height: 30px;
}
.prev:hover {
	background-position: 0 0;
}
.next {
	background: url(../img/prevnext.png) right bottom no-repeat;
	display: block;
	z-index: 999;
	position: absolute;
	right: 10px;
	top: 15%;
	width: 32px;
	height: 30px;
}
.next:hover {
	background-position: right 0;
}
.grid_12 {
	width: 960px;
	margin:0 auto;
}
.car_wrap.grid_12 h3 {
	font-size: 2em;
	font-weight:700;
	color: #000000;
	font-family: 'Lobster Two', cursive;
	margin-bottom:1em;
}
/**** Drop Down *********/
/* PREFIXED CSS */
.flat,
.flat div,
.flat li,
.flat div::after,
.flat .carat,
.flat .carat:after,
.flat .selected::after,
.flat:after{
	/*---webkit-transition: all 150ms ease-in-out;
	-moz-transition: all 150ms ease-in-out;
	-ms-transition: all 150ms ease-in-out;
	transition: all 150ms ease-in-out;--*/
}
.flat .selected::after,
.flat.scrollable div::after{
	-webkit-pointer-events: none;
	-moz-pointer-events: none;
	-ms-pointer-events: none;
	pointer-events: none;
}
/* WRAPPER */
.dropdown-button:first-child{
	margin-left:0;
}
.dropdown-button{
	width:75%;
}
.flat{
	position: relative;
	cursor: pointer;
	font-weight:600;
	background:#fff;
	color:#898989;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	border:1px solid #5BBD50;
	margin: 0.5em 0 1.5em 0;
}
.flat.open{
	z-index: 2;
}
.flat:hover,
.flat.focus{
	color:#666;
}
/* OLD SELECT (HIDDEN) */
.flat .old{
	position: absolute;
	left: 0;
	top: 0;
	height: 0;
	width: 0;
	overflow: hidden;
}
.flat select{
	position: absolute;
	left: 0px;
	top: 0px;
}
.flat.touch select{
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}
/* SELECTED FEEDBACK ITEM */
.flat .selected {
    color:#fff;
}
.flat .selected,
.flat li{
	display: block;
	font-size: 1.2em;
	padding: 5px 15px;
	overflow: hidden;
	white-space: nowrap;
	text-align: left;
	font-weight: 300;
	color:#000000;
	font-weight:600;

}
.flat .selected::after{
	content: '';
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	padding:17px 17px;
	background:url(../img/img-sprite.png) no-repeat -312px -76px;
}
/* DROP DOWN WRAPPER */
.flat div{
	position: absolute;
	height: 0;
	left: 0;
	right: 0;
	top: 100%;
	margin-top:1px;
	background:#e94e38;
	overflow: hidden;
	opacity: 0;
	color: #FFF;
}
/* Height is adjusted by JS on open */
.flat.open div{
	opacity: 1;
	z-index: 2;
}
/* FADE OVERLAY FOR SCROLLING LISTS */
.flat.scrollable div::after{
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 50px;
}
.flat.scrollable.bottom div::after{
	opacity: 0;
}
/* DROP DOWN LIST */
.flat ul{
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	padding:0;
	list-style: none;
	overflow: hidden;
}
.flat.scrollable.open ul{
	overflow-y: auto;
}
/* DROP DOWN LIST ITEMS */
.flat li{
	list-style: none;
	padding: 6px 10px;
	font-size: 1em;
	font-weight: 400;
	background: #E24425;
	color:#fff;
}
.flat li:last-child {
    border-bottom: 0;
}
/* .focus class is also added on hover */
.flat li:hover{
	background-color:#5FA022;
	color: #fff;
}
.flat li.focus{
	background:#5FA022;
	position: relative;
	z-index: 3;
	color:#FFF;
}
.flat li.active{
    background-color:#5BBD50;
	color: #fff;
}
.ordering-form {
	padding: 3em 0;
	background: #F8F8F8;
}
.order-form-head h3{
	color:#000000;
	font-size:2.2em;
	font-weight:700;
	font-family: 'Lobster Two', cursive;
}
.order-form-head p{
	color:#000000;
	font-weight:500;
	font-size:18px;
	margin-bottom:2em;
}
.order-form-grid h5{
	font-size:1.6em;
	font-weight:700;
	margin-bottom:0.5em;
	font-family: 'Lobster Two', cursive;
}
.order-form-grid span{
	font-size:16px;
	font-weight:600;
}
.ordering-image {
	margin-top: 4.2em;
	padding:0;
}
.order-form-grid input.text{
	outline:none;
	padding:0.4em;
	width:75%;
	margin:1em 0;
	font-weight:600;
	font-size:16px;
	border: 1px solid #5BBD50;
}
.order-form-grid input[type="button"]{
	display: block;
	padding: 0.5em 1.5em;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 700;
	border:none;
	background:#5BBD50;
	color:#fff;
	margin: 1em 0 0 8em;

}
.order-form-grid input[type="button"]:hover{
	background:#E24425;
}
/*-- popular-restaurent--*/
.Popular-Restaurants-content{
	padding:3em 0;
}
.restaurent-title h4{
	color:#000000;
	font-size:2em;
	font-weight:500;
	font-family: 'Lobster Two', cursive;
	margin:5px 0 12px 0;
}
.logo-title{
	border-bottom:1px dotted #000000;
	width: 63%;
	margin-bottom: 0.8em;
}
.buy{
	text-align:right;
	margin-top: 0.8em;
}
.restaurent-title a {
		color: #000000;
		text-decoration: none;
	}
.restaurent-title a:hover{
	color:#5BBD50;
}
.buy span{
	color:#515151;
	font-size:2em;
	font-weight:600;
	display: block;
	margin: 0 0.9em 0.3em 0;
	font-family: 'Lobster Two', cursive;
}
a.morebtn{
  border: none;
  outline: none;
  padding: 0.3em 1.6em;
  color: #fff;
  background: #5BBD50;
  font-size: 1.4em;
  font-weight: 700;
  font-family: 'Lobster Two', cursive;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  text-decoration:none;
 }
 a.morebtn:hover {
	background:#E24425;
 }
.buy input[type="button"]{
	border:none;
	outline:none;
	padding:0.3em 1.6em;
	color:#fff;
	background:#5BBD50;
	font-size:1.4em;
	font-weight:700;
	font-family: 'Lobster Two', cursive;
	border-radius:20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-o-border-radius: 20px;
}
.buy input[type="button"]:hover{
	background:#E24425;
}
.rating span{
	display:block;
	font-size:1.23em;
	font-weight:600;
	margin-left:5px;
}
.rating img {
	padding-right: 3px;
	vertical-align: sub;
}
.rating a{
	font-size:1em;
	color:#515151;
	font-weight:600;
}
.rating a:hover{
	color:#5BBD50;
}
.Popular-Restaurants-grid {
	padding-bottom: 2em;
	border-bottom: 1px solid #D7D7D7;
	margin-bottom: 2em;
}
.logo-title-1 {
	width: 53%;
}
.logo-title-2 {
	width: 50%;
}
.logo-title-3 {
	width: 70%;
}
.logo-title-4 {
	width: 100%;
}
.logo-title-5 {
	width: 30%;
}
/*-- responsive-design --*/
 @media screen and (max-width:1366px){
	.banner {
		min-height: 350px;
	}
	.banner-info {
		padding-top: 4.5em;
	}
	.line {
		margin: 0.5em 0 3em 0;
	}
	.banner-info-head h1 {
		font-size: 2.8em;
	}
	.line h2 {
		font-size: 2.4em;
	}
	.form-list span {
		font-size: 18px;
	}
	.main-search {
		bottom: -35%;
	}
	.ordering-section-head h3 {
		font-size: 2.4em;
	}
	.ordering-section {
		padding: 3em 0;
	}
	.order-form-head h3 {
		font-size: 2em;
	}
	.order-form-head p {
		font-size: 17px;
		margin-bottom: 1.8em;
	}
}
	 @media screen and (max-width:1280px){
	.banner-info-head h1 {
		font-size: 2.6em;
	}
	.line h2 {
		font-size: 2.3em;
	}
	.line {
		margin: 0.5em 0 2.7em 0;
	}
	.main-search {
		bottom: -36%;
	}
	.banner {
		min-height: 310px;
	}
	.order-form-head h3 {
		font-size: 2.1em;
	}
	.contact-head {
		padding: 2em 0;
	}
}
@media screen and (max-width:1024px){
	.line {
		background: url(../img/line.png) no-repeat -29px 17px;
	}
	.top-header {
		padding: 1.8em 0;
	}
	.banner-info-head h1 {
		font-size: 2.4em;
	}
	.line h2 {
		font-size: 2.1em;
	}
	.banner-info {
		padding-top: 3.5em;
	}
	.line {
		margin: 0.5em 0 2em 0;
	}
	.form-list input.text {
		width: 88%;
		padding: 0.4em 0.5em;
		margin-top: 4px;
		font-size: 15px;
	}
	.form-list span {
		font-size: 17px;
	}
	.srch button {
		background: url('../img/img-sprite.png') no-repeat 0px -53px;
		width: 60px;
		height: 40px;
		bottom: -2%;
		background-size: 475px;
	}
	.main-search {
		bottom: -40%;
	}
	.main-search {
		bottom: -37%;
	}
	.main-search {
		padding: 1% 1% 6% 2%;
	}
	.close {
		bottom: 2px;
		right: 215px;
	}
	.main-search:after {
		left: 217px;
	}
	.banner {
		min-height: 270px;
	}
	.ordering-section-head h3 {
		font-size: 2em;
	}
	.dotted-line h4 {
		font-size: 1.6em;
	}
	.dotted-line {
		background: url(../img/dotted-line.png) no-repeat 76px 13px;
		margin: 0.5em 0 2.2em 0;
	}
	.ordering-section-grids {
		margin-top: 5em;
	}
	.ordering-section-grid-process label {
		background: url("../img/img-sprite.png") no-repeat -211px -66px;
		width: 45px;
		height: 23px;
		right: -163%;
		background-size: 500px;
	}
	.ordering-section-grid-process {
		left: 28%;
	}
	.offer-text h4 {
		font-size: 14px;
		margin-bottom: 0.5em;
	}
	.offer {
		padding: 1em;
	}
	.offer-text p {
		font-size: 13px;
	}
	.offer-text input[type="button"] {
		padding: 0.9em 2em 0.9em 0.5em;
		font-size: 13px;
		margin-top: 0.5em;
	}
	.offer-text span {
		top: 86%;
		right: 38%;
	}
	.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
		margin-top: 9em;
	}
	.nbs-flexisel-nav-left {
		left: 384px;
	}
	.nbs-flexisel-nav-right {
		right: 30em;
	}
	.special-offers-section-grids {
		padding-bottom: 5em;
	}
	span.middle-dotted-line {
		left: 31.5em;
		bottom: -209px;
	}
	.service-section-top-row-grid1 h3 {
		font-size: 1.9em;
		padding-top: 1.4em;
	}
	.service-section-top-row-grid2 ul li.lists {
		font-size: 12px;
	}
	.service-section-top-row-grid2 {
		padding-top: 2em;
	}
	.service-section-top-row-grid3 {
		margin-top: 1.2em;
	}
	.service-section-top-row-grid4 input[type="submit"] {
		font-size: 16px;
	}
	.service-section-top-row-grid4 {
		padding-top: 3.6em;
	}
	.logo-title {
		width: 76%;
		margin-bottom: 0.5em;
	}
	.top-restaurents {
		width: 100%;
	}
	.top-cuisines {
		width: 100%;
	}
	.popular-restaurents {
		padding: 3em 0;
	}
	.top-restaurents {
		margin-bottom: 3em;
	}
	.top-cuisine-grid label {
		padding: 7px 32px;
	}
	.top-cuisine-head {
		margin: 0 0 2em 0;
		background: url(../img/dotted-line-right-wide.png) no-repeat 150px 16px;
	}
	.top-cuisine-head h3 {
		font-size: 1.8em;
	}
	.top-restaurent-head {
		background: url(../img/dotted-line-right.png) no-repeat 219px 18px;
		margin: 0 0 2em 0;
	}
	.top-restaurent-head h3 {
		font-size: 1.8em;
	}
	.ordering-section {
		padding: 2em 0;
	}
	.res-img-1 {
		width: 15.333%;
		margin: 0 1% 0 0;
	}
	.res-img-2 {
		width: 15.333%;
		margin: 0 1% 0 0;
	}
	.contact_left h4 {
		font-size: 1.8em;
	}
	.contact_top {
		padding: 3em 0 2em 0;
	}
	.contact_left p {
		font-size: 1.1em;
	}
	.form_details input[type="text"], .form_details textarea {
		padding: 6px 10px;
		font-size: 1.1em;
		margin: 8px 0px;
	}
	.form_details textarea {
		height: 170px;
	}
	.form_details input[type="submit"] {
		font-size: 1.2em;
		padding: 0.6em 1em;
	}
	.contact-map iframe {
		min-height: 225px;
	}
	.company_ad h3 {
		font-size: 1.6em;
	}
	.company_ad span {
		font-size: 1.1em;
	}
	.follow-us h3 {
		font-size: 1.8em;
	}
}
@media screen and (max-width:800px){
	.queries p {
		font-size: 1.1em;
	}
	.top-menu ul li a {
		margin: 0.4em 0;
		font-size: 14px;
	}
	.login-section ul li a {
		margin: 0.4em 0;
		font-size: 14px;
	}
	.top-header {
		padding: 1.5em 0;
	}
	.menu-bar {
		padding: 0.4em 0;
	}
	.top-menu ul li ,.login-section ul li {
		margin: 0 12px;
	}
	.header {
		border-top: 2px solid #5BBD50;
	}
	.banner-info-head h1 {
		font-size: 2em;
	}
	.line h2 {
		font-size: 1.85em;
	}
	.banner-info {
		padding-top: 2em;
	}
	.line {
		background: url(../img/line.png) no-repeat -145px 12px;
	}
	.line {
		margin: 0.5em 0 1.5em 0;
	}
	.form-list span {
		font-size: 16px;
	}
	.form-list input.text {
		width: 84%;
		padding: 0.4em 0.5em;
		font-size: 14px;
	}
	.banner {
		min-height: 200px;
	}
	.srch button {
		background: url('../img/img-sprite.png') no-repeat 0px -43px;
		width: 50px;
		height: 35px;
		bottom: -1%;
		background-size: 390px;
	}
	.ordering-section-head h3 {
		font-size: 1.8em;
	}
	.dotted-line h4 {
		font-size: 1.4em;
	}
	.main-search input[type="text"] {
		padding: 5px;
	}
	.main-search input[type="submit"] {
		top: 2px;
		right: 2px;
	}
	.close {
		bottom: 4px;
		right: 152px;
	}
	.main-search {
		bottom: -42%;
		left: 74%;
	}
	.main-search:after {
		left: 126px;
	}
	.dotted-line {
		background: url(../img/dotted-line.png) no-repeat -29px 10px;
		margin: 0.5em 0 2em 0;
	}
	.ordering-section-grid {
		width: 25%;
		float: left;
	}
	.ordering-section-grid {
		background-size: 140px;
	}
	.ordering-section-grids {
		margin-top: 4em;
	}
	.ordering-section-grid-process {
		left: 28%;
		top: -10%;
	}
	.ordering-section-grid-process i.one{
		width: 40px;
		height: 40px;
		background-size: 380px;
	}
	.ordering-section-grid-process i.two {
	    width: 40px;
		height: 40px;
		background: url("../img/img-sprite.png") no-repeat -42px 0px;
		background-size: 380px;
	}
	.ordering-section-grid-process i.three {
	    width: 40px;
		height: 40px;
		background: url("../img/img-sprite.png") no-repeat -83px 0px;
		background-size: 380px;
	}
	.ordering-section-grid-process i.four {
	    width: 40px;
		height: 40px;
		background: url("../img/img-sprite.png") no-repeat -124px 0px;
		background-size: 380px;
	}
	.ordering-section-grid-process p {
		font-size: 15px;
		margin-top: 1em;
		left: -90%;
	}
	.ordering-section-grid-process i.one-icon {
		width: 30px;
		height: 30px;
		background: url("../img/img-sprite.png") no-repeat -192px -2px;
		margin: 0.3em 0 0 0.3em;
		background-size: 440px;
	}
	.ordering-section-grid-process i.two-icon {
		width: 30px;
		height: 30px;
		background: url("../img/img-sprite.png") no-repeat -226px -2px;
		margin: 0.3em 0 0 0.3em;
		background-size: 440px;
	}
	.ordering-section-grid-process i.three-icon {
		width: 33px;
		height: 30px;
		background: url("../img/img-sprite.png") no-repeat -256px -2px;
		margin: 0.3em 0 0 0.3em;
		background-size: 440px;
	}
	.ordering-section-grid-process i.four-icon {
		width: 30px;
		height: 30px;
		background: url("../img/img-sprite.png") no-repeat -292px -2px;
		margin: 0.3em 0 0 0.3em;
		background-size: 440px;
	}
	.ordering-section-grid-process label {
		background: url("../img/img-sprite.png") no-repeat -202px -63px;
		width: 40px;
		height: 20px;
		right: -225%;
		background-size: 470px;
	}
	.ordering-section {
		padding: 2em 0 0 0;
	}
	.ordering-section-grid-process span {
		font-size: 15px;
	}
	.offer-text span {
		top: 83%;
		right: 42%;
	}
	.offer-image {
		width: 40%;
		margin-right: 3%;
	}
	.offer-text {
		width: 57%;
		margin: 0;
	}
	.nbs-flexisel-item {
		padding-right: 10px;
	}
	.offer-text input[type="button"] {
		padding: 0.8em 2em 0.8em 0.5em;
		font-size: 12px;
		margin-top: 0.3em;
	}
	.offer{
		padding:8px;
	}
	.offer-text h4 {
		font-size: 12px;
		margin-bottom: 0.2em;
	}
	.offer-text p {
		font-size: 12px;
	}
	.nbs-flexisel-nav-right {
		right: 21em;
		background: url(../img/img-sprite.png) no-repeat -405px 0px;
		background-size: 500px;
	}
	.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
		margin-top: 7em;
	}
	.nbs-flexisel-nav-left {
		left: 292px;
		background: url(../img/img-sprite.png) no-repeat -368px -1px;
		background-size: 500px;
	}
	.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
		width: 35px;
		height: 35px;
	}
	span.middle-dotted-line {
		left: 24em;
		bottom: -153px;
	}
	.top-restaurent-head h3 {
		font-size: 1.6em;
	}
	.top-restaurent-head {
		background: url(../img/dotted-line-right.png) no-repeat 182px 13px;
		margin: 0 0 1.5em 0;
	}
	.popular-restaurents {
		padding: 2em 0 2.5em 0;
	}
	.top-cuisine-head h3 {
		font-size: 1.7em;
	}
	.top-cuisine-grid label {
		padding: 4px 21px;
	}
	.icon {
		margin-right: 6%;
		width: 10%;
	}
	.service-section-bottom-grid {
		margin-bottom: 1.2em;
	}
	.service-section-bottom-row {
		padding: 2em 0 1em 0;
	}
	.icon-data h4 {
		font-size: 1.3em;
		margin: 0.8em 0 0.2em 0;
	}
	.footer {
		padding: 2em 0;
	}
	.contact-section-grid {
		width: 24%;
		float: left;
	}
	.contact-section-grid h4 {
		font-size: 1.2em;
	}
	.contact-section-grid p {
		font-size: 15px;
	}
	.footer p {
		font-size: 15px;
	}
	.contact-section-grid input.text {
		padding: 0.4em;
		margin: 1em 0;
	}
	.contact-section-grid input[type="submit"] {
		padding: 0.35em 1.2em;
	}
	.service-section-top-row-grid4 {
		padding-top: 0;
		width: 50%;
		float: left;
		text-align: center;
		margin-top:2.4em;
	}
	.service-section-top-row-grid2 {
		padding-top: 0;
		width: 37%;
		float: left;
		margin-left:13%;
	}
	.service-section-top-row-grid3 {
		margin-top: 0;
		width: 50%;
		float: left;
		margin-top:1em;
	}
	.service-section-top-row-grid1 {
		width: 50%;
		float: left;
		text-align: center;
	}
	.service-section-top-row-grid1 h3 {
		font-size: 1.9em;
		padding-top: 0;
	}
	.service-section-top-row-grids {
		padding: 1.5em;
	}
	.service-section-top-row-grids {
		border-radius: 6px;
	}
	.container {
		width: 735px;
	}
	.ordering-section-grid {
		min-height: 170px;
	}
	.ordering-section-grid-process {
		top: -12%;
	}
	.dreamcrub {
		margin: 1em 0 2.5em 0;
		font-family: 'Roboto', sans-serif;
	}
	.login-left {
		margin-bottom: 3em;
		padding:0 15px;
	}
	.login-left p, .login-right p {
		margin: 0 0 1.2em 0;
	}
	.register-top-grid h3, .register-bottom-grid h3 {
		font-size: 1.3em;
	}
	.register-top-grid span, .register-bottom-grid span {
		font-size: 1em;
	}
	.register-but form input[type="submit"] {
		padding: 0.4em 1.5em;
	}
	.register {
		padding: 2em 0 3em 0;
	}
	.register-top-grid input[type="text"], .register-bottom-grid input[type="password"] {
		padding: 0.4em;
	}
	.login-left h3, .login-right h3 {
		font-size: 1.4em;
	}
	.login-right input[type="submit"] {
		padding: 0.5em 1.2em;
	}
	.login-page {
		padding: 1em 0 2em 0;
	}
	.contact_left {
		width: 100%;
		margin-right: 0;
	}
	.company-right {
		width: 100%;
	}
	.contact-head h3 {
		font-size: 1.8em;
	}
	.contact-head {
		padding: 1.5em 0;
	}
	.contact-head p {
		margin: 0;
	}
	.contact_top {
		padding: 2em 0 1em 0;
	}
	.restaurent-logo {
		width: 25%;
		float: left;
	}
	.col-md-2.restaurent-title {
		width: 16.666%;
		float: left;
		padding:0;
	}
	.logo-title {
		width: 84%;
		margin-bottom: 0.2em;
	}
	.restaurent-title h4 {
		font-size: 1.4em;
		margin: -1px 0 5px 0;
	}
	.rating span {
		font-size: 1em;
		margin-left: 0px;
	}
	.buy {
		margin-top: 0;
		width: 58%;
		float: left;
	}
	.buy span {
		font-size: 1.5em;
		margin: 0 1.1em 0em 0;
	}
	.buy input[type="button"] {
		padding: 0.3em 1.4em;
		font-size: 1.3em;
	}
	.logo-title {
		width: 59%;
	}
	.logo-title-1,.logo-title-2 {
		width: 52%;
	}
	.logo-title-3 {
		width: 70%;
	}
	.logo-title-4 {
		width: 99%;
	}
	.logo-title-5 {
		width: 29%;
	}
	.ordering-image {
		margin-top: 4em;
	}
	.order-form-head h3 {
		font-size: 1.8em;
	}
	.ordering-form {
		padding: 2em 0;
	}
	.flat .selected, .flat li {
		font-size: 1em;
	}
}
@media screen and (max-width:768px){
	.container {
		width: 720px;
	}
	.ordering-section-grid {
		min-height: 170px;
	}
	.ordering-section-grid-process {
		top: -12%;
	}
	.top-cuisine-head h3 {
		font-size: 1.6em;
	}
	.top-cuisine-grid label {
		padding: 4px 19px;
		font-size: 17.45px;
	}
	.banner-info-head h1 {
		font-size: 1.7em;
	}
	.line h2 {
		font-size: 1.5em;
	}
	.line {
		background: url(../img/line.png) no-repeat -145px 10px;
		margin: 0.3em 0 1.2em 0;
	}
	.form-list span {
		font-size: 14px;
	}
	.form-list input.text {
		padding: 0.3em 0.5em;
		font-size: 14px;
	}
	.banner {
		min-height: 185px;
	}
	.banner-info {
		padding-top: 1.5em;
	}
	.ordering-section-head h3 {
		font-size: 1.7em;
	}
	.dotted-line h4 {
		font-size: 1.3em;
	}
	.dotted-line {
		background: url(../img/dotted-line.png) no-repeat -48px 10px;
		margin: 0.3em 0 2em 0;
	}
	.logo img {
		width: 85%;
	}
	.srch button {
		bottom: -3%;
	}
	.main-search {
		bottom: -51%;
		left: 73%;
	}
	.close {
		right: 149px;
	}
	.queries {
		margin-left: 2%;
	}
	.box_1 h3 {
		font-size: 1.1em;
	}
	a.morebtn {
		padding: 0.2em 1.2em;
	}

}
@media screen and (max-width:640px){
	.container {
		width: 593px;
	}
	.logo img {
		width: 75%;
	}
	.queries p {
		font-size: 1em;
	}
	.banner-info-head h1 {
		font-size: 1.5em;
	}
	.line h2 {
		font-size: 1.3em;
	}
	.line {
		background: url(../img/line.png) no-repeat -217px 8px;
		margin: 0.3em 0 1em 0;
	}
	.srch button {
		right: 2%;
	}
	.banner-info {
		padding-top: 1em;
	}
	.main-search {
		bottom: -56%;
		left: 77%;
	}
	.main-search:after {
		left: 86px;
	}
	.close {
		right: 5px;
		padding:0;
	}
	.main-search {
		padding: 1% 3% 6% 1%;
	}
	.ordering-section-head h3 {
		font-size: 1.6em;
	}
	.dotted-line h4 {
		font-size: 1.2em;
	}
	.dotted-line {
		background: url(../img/dotted-line.png) no-repeat -112px 9px;
	}
	.ordering-section {
		padding: 1.5em 0 0 0;
	}
	.ordering-section-grid-process {
		left: 28.5%;
		top: -16%;
	}
	.ordering-section-grid-process i.one-icon,.ordering-section-grid-process i.two-icon,
    .ordering-section-grid-process i.three-icon,.ordering-section-grid-process i.four-icon{
		margin: 0 0 0 0.3em;
	}
	.ordering-section-grid {
		min-height: 143px;
	}
	.ordering-section-grid-process p {
		font-size: 14px;
		margin-top: 0.7em;
		line-height: 1.1em;
	}
	.banner {
		min-height: 150px;
	}
	.offer-text input[type="button"] {
		padding: 0.95em 2.5em 0.95em 0.5em;
		font-size: 13px;
		margin-top: 1em;
	}
	.offer {
		padding: 11px;
	}
	.offer-image {
		width: 45%;
		margin-right: 5%;
	}
	.offer-text {
		width: 50%;
		margin: 0;
	}
	.offer-text h4 {
		font-size: 14px;
		margin-bottom: 0.3em;
	}
	.offer-text p {
		font-size: 13px;
	}
	.ordering-section-grid-process label {
		display: none;
	}
	.ordering-section-grids {
		margin-top: 3em;
	}
	.ordering-section-grid {
		background-size: 120px;
	}
	.nbs-flexisel-nav-right {
		right: 16em;
	}
	.nbs-flexisel-nav-left {
		left: 219px;
	}
	.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
		margin-top: 5.8em;
	}
	.special-offers-section-grids {
		padding-bottom: 3.5em;
	}
	span.middle-dotted-line {
		left: 19em;
		bottom: -181px;
	}
	.offer-text span {
		top: 84%;
		right: 39%;
	}
	.res-img-1 {
		width: 32.333%;
		margin: 0 1% 4% 0;
	}
	.res-img-2 {
		width: 32.333%;
		margin: 0 1% 0% 0;
	}
	.top-restaurents {
		margin-bottom: 2em;
	}
	.top-cuisine-grid label {
		padding: 4px 12.5px;
		font-size: 15px;
	}
	.service-section-top-row-grids {
		padding: 1em;
	}
	.icon-data h4 {
		font-size: 1.1em;
		margin: 0.4em 0 0.2em 0;
	}
	.icon-data p {
		font-size: 14px;
	}
	.contact-section-grid ul li.data {
		font-size: 12px;
	}
	.contact-section {
		padding: 2em 0;
	}
	.contact-section-grid p {
		display: none;
	}
	.top-menu ul li a {
		font-size: 12px;
	}
	.login-section ul li a {
		font-size: 13px;
	}
	.top-menu ul li, .login-section ul li {
		margin: 0 7px;
	}
	ul.breadcrumbs li {
		font-size: 1em;
	}
	.login-left h3, .login-right h3 {
		font-size: 1.3em;
	}
	.login-left p, .login-right p {
		margin: 0 0 1em 0;
		font-size: 1em;
	}
	.acount-btn {
		padding: 0.5em 1.1em;
	}
	.login-right input[type="submit"] {
		padding: 0.4em 1em;
	}
	.register-top-grid input[type="text"], .register-bottom-grid input[type="password"] {
		padding: 0.3em;
	}
	.register-but form input[type="submit"] {
		padding: 0.3em 1.3em;
	}
	.register-top-grid h3, .register-bottom-grid h3 {
		padding-bottom: 10px;
	}
	ul.previous li a {
		font-size: 1em;
	}
	.contact-head h3 {
		font-size: 1.6em;
	}
	.contact-head p {
		font-size: 1.1em;
	}
	.contact_left h4 {
		font-size: 1.6em;
	}
	.form_details textarea {
		height: 150px;
	}
	.buy {
		width: 47%;
	}
	.restaurent-logo {
		width: 34%;
	}
	.logo-title {
		width: 71%;
	}
	.logo-title-3 {
		width: 92%;
	}
	.logo-title-4 {
		width: 100%;
	}
	.restaurent-title h4 {
		font-size: 1.2em;
	}
	.Popular-Restaurants-grid {
		padding-bottom: 1.5em;
	}
	.buy input[type="button"] {
		padding: 0.2em 1.3em;
		font-size: 1.2em;
	}
	.buy span {
		font-size: 1.4em;
		margin: 0 1em 0em 0;
	}
	.buy {
		margin-top: 0.8em;
	}
	.Popular-Restaurants-content {
		padding: 3em 0 1.5em 0;
	}
	.order-form-head h3 {
		font-size: 1.6em;
	}
	.order-form-grid h5 {
		font-size: 1.4em;
	}
	.order-form-head p {
		font-size: 16px;
		margin-bottom: 1.2em;
	}
	.queries {
		display: none;
	}
}
 @media screen and (max-width:480px){
	.container {
		width: 433px;
	}
	.ordering-section-grid-process label {
		display: none;
	}
	.ordering-section-grid-process {
		left: 31.5%;
	}
	.footer p {
		font-size: 14px;
	}
	..footer {
		padding: 1.5em 0;
	}
	.contact-section-grid {
		width: 50%;
		margin:0 0 2em 0;
	}
	.contact-section-grid p {
		display: block;
	}
	.contact-section-grid ul li.data {
		font-size: 13px;
	}
	.contact-section-grid h4 {
		font-size: 1.3em;
		margin-bottom: 0.8em;
	}
	.contact-section {
		padding: 2em 0 0 0;
	}
	.icon {
		margin-right: 6%;
		width: 15%;
	}
	.service-section-top-row-grid1 h3 {
		font-size: 1.4em;
		padding-top: 1em;
	}
	.service-section-top-row-grid2 {
		width: 42%;
		margin-left: 8%;
	}
	.service-section-top-row-grid4 input[type="submit"] {
		border: 2px solid #fff;
		font-size: 15px;
		padding: 0.3em 1.1em;
	}
	.service-section-top-row-grid4 {
		margin-top: 1.5em;
	}
	.service-section-top-row-grids {
		padding: 0.7em;
	}
	.top-cuisine-grid {
		width: 40%;
		margin: 0 10% 5% 0;
	}
	.top-cuisine-grid label {
		padding: 5px 28.4px;
		font-size: 15px;
	}
	.top-cuisine-head h3 {
		font-size: 1.5em;
	}
	.res-img-2 {
		width: 31%;
		margin: 0 2% 0% 0;
	}
	.res-img-1 {
		width: 31%;
		margin: 0 2% 2% 0;
	}
	.dotted-line {
		background: url(../img/dotted-line.png) no-repeat -192px 9px;
	}
	.offer {
		padding: 12px;
		width: 70%;
		margin: 0 auto;
	}
	.offer-text p {
		font-size: 13px;
	}
	.offer-text h4 {
		font-size: 15px;
		margin-bottom: 0.3em;
	}
	.offer-text input[type="button"] {
		padding: 1em 2.5em 1em 0.5em;
		font-size: 14px;
		margin-top: 0.5em;
	}
	.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
		margin-top: 4.2em;
	}
	.nbs-flexisel-nav-right {
		right: 11em;
	}
	.nbs-flexisel-nav-left {
		left: 120px;
	}
	.offer-text span {
		top: 83%;
		right: 34%;
	}
	span.middle-dotted-line {
		left: 12.3em;
		bottom: -182px;
	}
	.ordering-section-grid {
		width: 40%;
		float: left;
		margin:0 0 2em 10%;
	}
	.ordering-section-grid-process {
		left: 23.5%;
	}
	.ordering-section-head h3 {
		font-size: 1.4em;
	}
	.banner-info-head h1 {
		font-size: 1.3em;
	}
	.line h2 {
		font-size: 1.1em;
	}
	.line {
		background: url(../img/line.png) no-repeat -303px 5px;
		margin: 0.2em 0 0.7em 0;
	}
	.form-list span {
		font-size: 13px;
	}
	.form-list input.text {
		padding: 0.2em 0.4em;
		font-size: 13px;
		margin-top: 1px;
	}
	.banner {
		min-height: 125px;
	}
	.srch button {
		background: url('../img/img-sprite.png') no-repeat 0px -36px;
		width: 40px;
		height: 25px;
		bottom: 0%;
		background-size: 320px;
		right: 1%;
	}
	.main-search input[type="text"], .main-search input[type="submit"] {
		font-size: 12px;
		padding: 3px;
		top: -1px;
		right: -2px;
	}
	.main-search {
		bottom: -61%;
        left: 66%;
		width: 36%;
		height: 51px;
	}
	.close {
		right: 1px;
		bottom: 5px;
	}
	.main-search:after {
		left: 104px;
	}
	.top-header {
		padding: 1em 0;
	}
	.register-top-grid input[type="text"], .register-bottom-grid input[type="password"] {
		padding: 0.2em;
	}
	.register-but form input[type="submit"] {
		padding: 0.2em 1em;
	}
	.register-top-grid span, .register-bottom-grid span {
		font-size: 0.875em;
	}
	.register-top-grid h3, .register-bottom-grid h3 {
		font-size: 1.2em;
	}
	.register {
		padding: 1.5em 0 2em 0;
	}
	.contact_left p {
		width: 100%;
	}
	.contact-head h3 {
		font-size: 1.4em;
	}
	.contact-head {
		padding: 1em 0;
	}
	.contact_left h4 {
		font-size: 1.4em;
	}
	.form_details input[type="submit"] {
		font-size: 1.1em;
		padding: 0.4em 0.9em;
	}
	.company_ad h3 {
		font-size: 1.4em;
	}
	.company_ad p {
		font-size: 1em;
		line-height: 1.5em;
	}
	.follow-us h3 {
		font-size: 1.7em;
	}
	.Popular-Restaurants-grid {
		padding-bottom: 1.2em;
		margin-bottom: 1.7em;
	}
	.restaurent-logo {
		width: 41%;
	}
	.col-md-2.restaurent-title {
		width: 22.666%;
	}
	.restaurent-title h4 {
		font-size: 1.1em;
	}
	.rating span {
		font-size: 0.875em;
	}
	.buy {
		margin-top: 0.5em;
		width: 36%;
	}
	.buy span {
		font-size: 1.2em;
		margin: 0 1em 0em 0;
	}
	.buy input[type="button"] {
		padding: 0.2em 1.2em;
		font-size: 1.1em;
	}
	.order-form-head h3 {
		font-size: 1.4em;
	}
	.order-form-head p {
		font-size: 14px;
	}
	.order-form-grid h5 {
		font-size: 1.3em;
	}
	.flat .selected, .flat li {
		font-size: 0.9em;
	}
	.ordering-image {
		margin-top: 3em;
	}
	.order-form-grid input[type="button"] {
		padding: 0.4em 1.4em;
		font-size: 15px;
		margin: 0.5em 0 0 5em;
	}
	.dropdown-button {
		width: 100%;
	}
	.top-menu {
		float: none;
		text-align: center;
	}
	.login-section {
		float: none;
		text-align: center;
	}
	.logo img {
		width: 95%;
	}
	a.morebtn {
		padding: 0.15em 1em;
	}
	.orders {
		padding: 1em 0;
	}
	.order-top p {
  color: #6b6969;
  font-size: 0.95em;
  font-weight: 400;
  line-height: 1.8em;
  margin: 0.5em 0;
}
.order-top h4 {
  color: #1A1A1A;
  font-size: 1.25em;
  font-weight: 600;
  margin-bottom: 0.5em;
}
.order-top h6 {
  color: #621622;
  margin: 0.5em 0;
}
}
 @media screen and (max-width:320px){
	.container {
		width: 100%;
		margin:0;
	}
	.ordering-section-grid {
		background-size: 110px;
		width: 50%;
		margin:0;
	}
	.footer p {
		text-align: center;
	}
	.footer {
		padding: 1.5em 0;
	}
	.contact-section-grid {
		width: 100%;
		margin: 0 0 2em 0;
	}
	.contact-section-grid ul li.data {
		font-size: 14px;
	}
	.service-section-bottom-grid{
		padding: 0;
	}
	.icon {
		width: 22%;
	}
	.service-section-top-row {
		padding: 2em 0;
	}
	.logo img {
		width: 40%;
		margin: 0 auto;
	}
	.queries p label {
		font-size: 0.85em;
	}
	.queries p span {
		margin-left: 0;
		font-size: 0.95em;
	}
	.queries {
		display:none;
	}
	.top-menu ul li, .login-section ul li {
		margin: 0 5px;
	}
	.top-menu ul li a {
		font-size: 10px;
	}
	.login-section ul li a {
		font-size: 12px;
	}
	.banner-info-head h1 {
		font-size: 1.4em;
	}
	.line h2 {
		font-size: 1.2em;
	}
	.form-list ul li {
		display: block;
		width: 88%;
	}
	.form-list span {
		font-size: 13px;
	}
	.form-list input.text {
		padding: 0.5em 0.4em;
		font-size: 12px;
		margin: 3px 0 5px 0;
	}
	.line {
		background: url(../img/line.png) no-repeat -360px 5px;
		margin: 0.2em 0 1em 0;
	}
	.banner {
		min-height: 130px;
	}
	.banner-info {
		padding-top: 1.2em;
	}
	.main-search:after {
		left: 73px;
		border-left: 7px solid rgba(0, 0, 0, 0);
		border-right: 7px solid rgba(0, 0, 0, 0);
		border-bottom: 8px solid #515151;
		top: -8px;
	}
	.srch button {
		bottom: 3%;
	}
	.close img {
		width: 70%;
	}
	.main-search {
		height: 40px;
		padding: 2% 4% 6% 2%;
		bottom: -17%;
		left: 64%;
	}
	.close {
		right: -3px;
		bottom: -2px;
	}
	.icon-data {
		float: left;
		width: 70%;
	}
	.service-section-bottom-row {
		padding: 1.5em 0 0.5em 0;
	}
	.service-section-top-row-grid1,.service-section-top-row-grid2,
	.service-section-top-row-grid3,.service-section-top-row-grid4{
		width: 100%;
	}
	.service-section-top-row-grid1 h3 {
		padding-top: 0;
	}
	.service-section-top-row-grids {
		padding: 1em;
	}
	.service-section-top-row-grid2 {
		padding-top: 1em;
		margin-left: 20%;
		width: 80%;
	}
	.service-section-top-row-grid4 input[type="submit"]:hover {
		border: 2px solid #5BBD50;
	}
	.top-cuisines {
		padding: 0;
	}
	.top-cuisine-grid {
		width: 45%;
		margin: 0 5% 5% 0;
	}
	.top-cuisine-grid label {
		 padding: 5px 18.31px;
		font-size: 14px;
	}
	.offer {
		width: 100%;
	}
	.top-cuisine-head {
		margin: 0 0 1.5em 0;
		background: url(../img/dotted-line-right-wide.png) no-repeat 130px 12px;
	}
	.top-restaurent-head h3 {
		font-size: 1.35em;
	}
	.top-cuisine-head h3 {
		font-size: 1.4em;
	}
	.top-restaurents {
		margin-bottom: 1em;
	}
	.top-restaurent-head {
		background: url(../img/dotted-line-right.png) no-repeat 140px 11px;
		margin: 0 0 1.5em 0;
	}
	.offer-text h4 {
		font-size: 12px;
		margin-bottom: 0.2em;
	}
	.offer-text p {
		font-size: 11px;
	}
	.offer-text input[type="button"] {
		padding: 0.9em 2.5em 0.9em 0.5em;
		font-size: 13px;
		margin-top: 0.4em;
	}
	.offer-text span {
		top: 82%;
		right: 26%;
	}
	.special-offers-section {
		padding: 1.5em 0;
	}
	span.middle-dotted-line {
		left: 7.3em;
		bottom: -156px;
	}
	.nbs-flexisel-nav-left {
		left: 73px;
	}
	.nbs-flexisel-nav-right {
		right: 5em;
	}
	.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
		margin-top: 3.5em;
	}
	.dotted-line {
		background: url(../img/dotted-line.png) no-repeat -260px 9px;
	}
	.ordering-section-head h3 {
		font-size: 1.3em;
	}
	.dotted-line h4 {
		font-size: 1.1em;
	}
	.ordering-section-grid-process p {
		font-size: 14px;
		margin-top: 0.4em;
	    left: -57%;
		width: 95px;
	}
	ul.breadcrumbs li {
		font-size: 0.875em;
	}
	ul.previous li a {
		font-size: 0.875em;
	}
	.dreamcrub {
		margin: 1em 0 2em 0;
	}
	.login-left h3, .login-right h3 {
		font-size: 1.2em;
	}
	.login-left p, .login-right p {
		margin: 0 0 1em 0;
		font-size: 0.93em;
	}
	.acount-btn {
		padding: 0.5em 1em;
		font-size: 0.95em;
	}
	.login-left {
		margin-bottom: 2em;
		padding: 0 0px;
	}
	.login-right span {
		font-size: 0.875em;
	}
	.login-right input[type="text"],.login-right input[type="password"] {
		padding: 0.4em;
	}
	.contact-head h3 {
		font-size: 1.1em;
	}
	.contact-head p {
		font-size: 0.98em;
	}
	.contact-head {
		padding: 0.6em 0;
	}
	.contact_left h4 {
		font-size: 1.15em;
	}
	.contact_top {
		padding: 1.5em 0 1em 0;
	}
	.contact_left p {
		font-size: 1em;
	}
	.form_details input[type="text"], .form_details textarea {
		padding: 4px 10px;
		font-size: 1em;
		margin: 6px 0px;
	}
	.form_details textarea {
		height: 110px;
	}
	.form_details input[type="submit"] {
		font-size: 1em;
		padding: 0.4em 0.9em;
		margin-top: 0.5em;
	}
	.contact-map iframe {
		min-height: 180px;
	}
	.company_ad {
		margin-top: 1.5em;
	}
	.dropdown-button {
		width: 100%;
	}
	.order-form-head h3,.order-form-grid h5 {
		font-size: 1.2em;
	}
	.order-form-head p {
		font-size: 13px;
		margin-bottom: 1em;
	}
	.order-form-grid span {
		font-size: 15px;
	}
	.flat {
		margin: 0.2em 0 1em 0;
	}
	.flat .selected::after {
		padding: 17px 15px;
	}
	.flat .selected, .flat li {
		font-size: 0.875em;
	}
	.order-form-grid input.text {
		padding: 0.3em;
		width: 100%;
		margin: 0.5em 0;
		font-size: 14px;
	}
	.order-form-grid input[type="button"] {
		padding: 0.4em 1.2em;
		font-size: 14px;
	}
	.restaurent-logo {
		width: 38%;
		padding: 0;
		margin-right: 2%;
	}
	.col-md-2.restaurent-title {
		width: 26.666%;
	}
	.restaurent-title h4 {
		font-size: 1em;
		margin: -1px 0 2px 0;
	}
	.rating a {
		font-size: 0.87em;
	}
	.buy {
		margin-top: 0.2em;
		width: 33%;
		padding: 0;
	}
	.Popular-Restaurants-content {
		padding: 2em 0 1em 0;
	}
	.buy span {
		font-size: 1.1em;
	}
	.buy input[type="button"] {
		padding: 0.2em 1.1em;
		font-size: 1em;
	}
	.login-right {
		padding: 0;
	}
	.order-form-grids {
		padding: 0;
	}
	.logo {
		width: 50%;
	}
.logo img {
  width: 100%;
}
a.morebtn {
  padding: 0.15em 1em;
  font-size: 1.2em;
}
.pr-right {
  float: left;
  width: 30%;
  margin: 0.6em 0;
}
.pr-left {
  float: left;
  width: 69%;
}
}







































h4{
    	font-weight: 600;
	}
	p{
		font-size: 12px;
		margin-top: 5px;
	}
	.price{
		font-size: 20px;
    	margin: 0 auto;
    	color: #333;
	}
	.right{
		float:right;
		border-bottom: 2px solid #4B8E4B;
	}
	.thumbnail{
		opacity:0.70;
		-webkit-transition: all 0.5s;
		transition: all 0.5s;
	}
	.thumbnail:hover{
		opacity:1.00;
		box-shadow: 0px 0px 10px #4bc6ff;
	}
	.line{
		margin-bottom: 5px;
	}
	@media screen and (max-width: 770px) {
		.right{
			float:left;
			width: 100%;
		}
	}
