{% extends "base.html" %}
{% load staticfiles %}

    {% block jquery %}
        <script>

        function setPrice(){
            var price = $(".variation_select option:selected").attr("data-price");
            var sale_price = $(".variation_select option:selected").attr("data-sale-price");
            if(!price &&  !sale_price)
                return;

            if(sale_price != "" && sale_price != "None" && sale_price != null){
                $("#price").html("<h3>"+"{{ currency }} "+sale_price+ " "+"<small class='og-price' style='color:gray;text-decoration:line-through'>{{ currency }} "+price+"</small></h3>");
            }else{
                $("#price").html("{{ currency }} "+price);
            }

        }
        setPrice();
        $(".variation_select").change(function(){
            setPrice();
        });


        $("#submit-btn").click(function(event){
            event.preventDefault();
            var formData = $("#add-form").serialize();
            event.preventDefault(); //Prevent from submit the form, because we want to update it using ajax
            console.log(formData);

            $.ajax({
                type: "GET",
                url: "{% url 'cart' %}",
                data: formData,
                success: function(data) {
                    console.log(data);
                    $("#jquery-message").text("Added "+data.item_added + " "+ "Deleted "+data.deleted);
                },
                error: function(response, error) {
                    console.log(response);
                    console.log(error);
                    $("#add-form").sumit();
                }
            });

        });e

</script>
    {% endblock %}


{% block content %}
    <div class="row">
        <div class="col-sm-8">

            <h2>{{product.title}}</h2>
            {% if product.get_image_url %}
                <div>
                    <img id="img" class='img-responsive' src='{{ product.get_image_url }}'/>
                </div>
            {% endif %}

            <p class="lead">
                {{ product.description }}
            </p>
        </div>



        <!--Product Sidebar-->
        <div class="col-sm-4">
            <form id="add-form" method="GET" action="cart/">
                <p id="jquery-message" class="lead">

                </p>
                {% if product.variation_set.count > 1 %}
                    <h3 id="price">{{ currency }} {{ product.variation_set.first.price }}</h3>

                    <select name="item" class="form-control variation_select">
                        {% for var_obj in product.variation_set.all  %}
                            <option  data-img="" data-sale-price="{{ var_obj.sale_price }}" data-price="{{ var_obj.price }}" value="{{ var_obj.id }}">{{ var_obj }}</option>
                        {% endfor %}
                    </select>
                {% else %}
                    <input type="hidden" name="item" value="{{ product.variation_set.first.id }}"/>

                    <h3 id="price">{% if product.variation_set.first.sale_price %}
                        {{ currency }} {{  product.variation_set.first.sale_price }}
                        <small class='og-price'>{{ currency }} {{  product.variation_set.first.price }}</small>
                    {% else %}
                        {{ currency }} {{ product.variation_set.first.price }}
                    {% endif %}

                    </h3>



                {% endif %}
                <br/>
                <input class="form-control" type="number" name="qty" value="1"/>
                <br/>
                <input type="hidden" name="slug" value="{{ slug }}"/>
                <input id="submit-btn" type="submit" class="btn btn-default" value="Add to Cart"/>
            </form>

            <br/>
            <hr/>
            <p>
                Share<br/>
                <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">
                    <i class="fa fa-facebook-square fa-3x"></i>
                </a>
            </p>
            </hr>
            <h4>Related Products</h4>
            <div class="row">
                {% for product in related  %}
                    <div class="col-xs-6">
                        {% include "products/product_thumbnail.html" with product=product price="True" %}
                    </div>
                    {% cycle '' '</div><div class="row">' %}
                {% endfor %}
            </div>
        </div>
        <!--End Product Sidebar -->
    </div>
{% endblock %}
