{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <center><h1>Aqui a aparece uma lista com todos produtos do restaurante</h1></center>
    {% for product in products %}
        <br><a href="/restaurant/{{ product.restaurant_id }}/{{ restaurant_slug }}/products/{{ product.id }}">{{ product.title }}</a>
    {% endfor %}
{% endblock %}