<!DOCTYPE html>
<!--[if IE 9]><html class="ie ie9"> <![endif]-->
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="pizza, delivery food, fast food, sushi, take away, chinese, italian food">
    <meta name="description" content="">
    <meta name="author" content="Ansonika">
    <title>Mopiteu - Comida sem sair de casa</title>

    <!-- Favicons-->
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="/static/img/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="/static/img/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="/static/img/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="/static/img/apple-touch-icon-144x144-precomposed.png">

    <!-- GOOGLE WEB FONT -->
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700,900,400italic,700italic,300,300italic' rel='stylesheet' type='text/css'>

    <!-- BASE CSS -->
    <link href="/static/css/base.css" rel="stylesheet">

    <!-- Radio and check inputs -->
    <link href="/static/css/skins/square/grey.css" rel="stylesheet">
    <link href="/static/css/ion.rangeSlider.css" rel="stylesheet">
    <link href="/static/css/ion.rangeSlider.skinFlat.css" rel="stylesheet" >

    <!--[if lt IE 9]>
      <script src="/static/js/html5shiv.min.js"></script>
      <script src="/static/js/respond.min.js"></script>
    <![endif]-->


    <script>
        function filter(){
            alert('ok');
            $( "#filter_form" ).submit();
        }
    </script>



</head>

<body>

<!--[if lte IE 8]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a>.</p>
<![endif]-->

<div id="preloader">
    <div class="sk-spinner sk-spinner-wave" id="status">
        <div class="sk-rect1"></div>
        <div class="sk-rect2"></div>
        <div class="sk-rect3"></div>
        <div class="sk-rect4"></div>
        <div class="sk-rect5"></div>
    </div>
</div><!-- End Preload -->

<!-- Header ================================================== -->
<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col--md-4 col-sm-4 col-xs-4">
                <a href="/" id="logo">
                    <img src="/static/img/logo.png" width="190" height="23" alt="" data-retina="true" class="hidden-xs">
                    <img src="/static/img/logo_mobile.png" width="59" height="23" alt="" data-retina="true" class="hidden-lg hidden-md hidden-sm">
                </a>
            </div>
            <nav class="col--md-8 col-sm-8 col-xs-8">
                <a class="cmn-toggle-switch cmn-toggle-switch__htx open_close" href="javascript:void(0);"><span>Menu mobile</span></a>
                <div class="main-menu">
                    <div id="header_menu">
                        <img src="/static/img/logo.png" width="190" height="23" alt="" data-retina="true">
                    </div>
                    <a href="#" class="open_close" id="close_in"><i class="icon_close"></i></a>
                    <ul>
                        <!--<li class="submenu">-->
                        <li><a href="/contact/">Contacto</a></li>
                        <li><a href="/">Página Inicial</a></li>

                        <!--
                        <ul>
                            <li><a href="index.html">Home Video background</a></li>
                            <li><a href="index_2.html">Home Static image</a></li>
                            <li><a href="index_3.html">Home Text rotator</a></li>
                            <li><a href="index_8.html">Home Layer slider</a></li>
                            <li><a href="index_4.html">Home Cookie bar</a></li>
                            <li><a href="index_5.html">Home Popup</a></li>
                            <li><a href="index_6.html">Home Mobile synthetic</a></li>
                            <li><a href="index_7.html">Top Menu version 2</a></li>
                        </ul>-->
                        <!--</li>-->
                        {% comment %}<li><a href="#">Acerca</a></li>{% endcomment %}
                        <!--<li><a href="faq.html">Faq</a></li>-->
                        <!--
                        <li class="submenu">
                        <a href="javascript:void(0);" class="show-submenu">Pages<i class="icon-down-open-mini"></i></a>
                        <ul>
                            <li><a href="detail_page.html">Restaurant Menu</a></li>
                            <li><a href="cart.html">Order step 1</a></li>
                            <li><a href="cart_2.html">Order step 2</a></li>
                            <li><a href="cart_3.html">Order step 3</a></li>
                            <li><a href="detail_page_2.html">Restaurant detail page</a></li>
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="grid_list.html">Grid list</a></li>
                            <li><a href="contacts.html">Contacts</a></li>
                            <li><a href="coming_soon/index.html">Coming soon page</a></li>
                            <li><a href="shortcodes.html">Shortcodes</a></li>
                            <li><a href="icon_pack_1.html">Icon pack 1</a></li>
                            <li><a href="icon_pack_2.html">Icon pack 2</a></li>
                        </ul>
                        </li>-->
                        <!--<li><a href="#0" data-toggle="modal" data-target="#login_2">Login</a></li>-->
                    </ul>
                </div><!-- End main-menu -->
            </nav>
        </div><!-- End row -->
    </div><!-- End container -->
</header>

<!-- SubHeader =============================================== -->
<section class="parallax-window" id="short" data-parallax="scroll" data-image-src="/static/img/sub_header_short.jpg" data-natural-width="1400" data-natural-height="350">
    <div id="subheader">
        <div id="sub_content">
            {% if restaurants|length == 1 %}
                <h1>{{ restaurants|length }} resultado na sua cidade</h1>
            {% else %}
                <h1>{{ restaurants|length }} resultados na sua cidade</h1>
            {% endif %}
            <div><i class="icon_pin"></i> {{ city }}</div>
        </div><!-- End sub_content -->
    </div><!-- End subheader -->
</section><!-- End section -->
<!-- End SubHeader ============================================ -->

<div id="position">
    <div class="container">
        <ul>
            <li><a href="/">Página Inicial</a></li>
            <li>Restaurantes</li>
        </ul>
    </div>
</div><!-- Position -->

<div class="collapse" id="collapseMap">
    <div id="map" class="map"></div>
</div><!-- End Map -->

<!-- Content ================================================== -->
<div class="container margin_60_35">
    <div class="row">

        <div class="col-md-3">
            <!--
            <p>
                <a class="btn_map" data-toggle="collapse" href="#collapseMap" aria-expanded="false" aria-controls="collapseMap">View on map</a>
            </p>-->
            <div id="filters_col">
                <a data-toggle="collapse" href="#collapseFilters" aria-expanded="false" aria-controls="collapseFilters" id="filters_col_bt">Filtro <i class="icon-plus-1 pull-right"></i></a>


                <div class="collapse" id="collapseFilters">
                    <div class="filter_type">
                        <!--
                        <h6>Distance</h6>
                        <input type="text" id="range" value="" name="range">-->
                        <!--
                        <h6>Categoria</h6>
                        <ul>
                            <li><label><input type="checkbox" checked class="icheck">All <small>(49)</small></label></li>
                            <li><label><input type="checkbox" class="icheck">American <small>(12)</small></label><i class="color_1"></i></li>
                        </ul>-->
                    </div>
                    <!--
                    <div class="filter_type">
                        <h6>Rating</h6>
                        <ul>
                            <li><label><input type="checkbox" class="icheck"><span class="rating">
                            <i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i>
                            </span></label></li>
                            <li><label><input type="checkbox" class="icheck"><span class="rating">
                            <i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i>
                            </span></label></li>
                            <li><label><input type="checkbox" class="icheck"><span class="rating">
                            <i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i><i class="icon_star"></i>
                            </span></label></li>
                            <li><label><input type="checkbox" class="icheck"><span class="rating">
                            <i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i>
                            </span></label></li>
                            <li><label><input type="checkbox" class="icheck"><span class="rating">
                            <i class="icon_star voted"></i><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i>
                            </span></label></li>
                        </ul>
                    </div>-->
                    <div class="filter_type">
                        <h6>Opções</h6>
                        <form method="POST" action="{% url 'restaurant' %}" id="filter_form">{% csrf_token %}
                            <ul class="nomargin">
                                {% comment %}{% if all_rest %}
                                    <li><label><input type="radio"  onclick="this.form.submit();"   name="opOpened" value="Abertos" checked>Abertos</label></li>
                                {% else %}
                                    <li><label><input type="radio"  onclick="this.form.submit();"   name="opOpened" value="Abertos" >Abertos</label></li>
                                {% endif %}{% endcomment %}

                                {% if service == 'DELIVERY&PICKUP' %}
                                    <li><label><input type="radio"  onclick="this.form.submit();"   name="opServiceType" value="Entrega &amp; Retirada" checked>Todos</label></li>
                                {% else %}
                                    <li><label><input type="radio"  onclick="this.form.submit();"   name="opServiceType" value="Entrega &amp; Retirada">Todos</label></li>
                                {% endif %}

                                {% if service == 'Delivery' %}
                                    <li><label><input type="radio"  onclick="this.form.submit();"  name="opServiceType" value="Entrega" checked>Entrega Domiciliar</label></li>
                                {% else %}
                                    <li><label><input type="radio"  onclick="this.form.submit();"  name="opServiceType" value="Entrega">Entrega Domiciliar</label></li>
                                {% endif %}

                                {% if service == 'Pickup' %}
                                    <li><label><input type="radio"  onclick="this.form.submit();"   name="opServiceType" value="Retirada" checked>Take Away</label></li>
                                {% else %}
                                    <li><label><input type="radio"  onclick="this.form.submit();"   name="opServiceType" value="Retirada" >Take Away</label></li>
                                {% endif %}

                                <input type="hidden" name="opZone" value="{{ city }}">


                            </ul>
                        </form>
                    </div>
                </div><!--End collapse -->
            </div><!--End filters col-->
        </div><!--End col-md -->

        <div class="col-md-9">
            <!--
        
        <div id="tools">
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <div class="styled-select">
                            <select name="sort_rating" id="sort_rating">
                                <option value="" selected>Sort by ranking</option>
                                <option value="lower">Lowest ranking</option>
                                <option value="higher">Highest ranking</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-6 hidden-xs">
                        <a href="grid_list.html" class="bt_filters"><i class="icon-th"></i></a>
                    </div>
                </div>
            </div><!--End tools -->




            {% for restaurant in restaurants %}
                <div class="strip_list wow fadeIn" data-wow-delay="0.3s">
                    <div class="row">
                        <div class="col-md-9 col-sm-9">
                            <div class="desc">
                                <div class="thumb_strip">
                                    <a href="{% url 'restaurant_products' restaurant.id restaurant.slug %}products"><img src="{{ restaurant.img_logo.url }}" alt=""></a>
                                </div>
                                <!--
                                <div class="rating">
                                    <i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i> (<small><a href="#0">98 reviews</a></small>)
                                </div>-->
                                <h3>{{ restaurant.name }}</h3>
                                <!--
                                <div class="type">
                                    Sushi / Japanese
                                </div>-->


                                <div class="location">
                                    {{ restaurant.get_address }}. <span class="opening">Abertura {{ restaurant.open_at }}.</span> Pedido mínimo: Akz {{ restaurant.min_order  }}
                                </div>
                                <ul>
                                    {% if restaurant.is_open %}
                                        <li>Aberto<i class="icon_check_alt2 ok"></i></li>
                                    {% else %}
                                        <li>Fechado <i class="icon_check_alt2"></i></li>
                                    {% endif %}

                                    {% if restaurant.service_type == 'PICKUP' %}
                                        <li>Take away<i class="icon_check_alt2 ok"></i></li>
                                    {% endif %}

                                    {% if restaurant.service_type == 'DELIVERY' %}
                                        <li>Entrega<i class="icon_check_alt2 ok"></i></li>
                                    {% endif %}

                                    {% if restaurant.service_type == 'DELIVERY&PICKUP' %}
                                        <li>Entrega<i class="icon_check_alt2 ok"></i></li>
                                        <li>Take away<i class="icon_check_alt2 ok"></i></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3">
                            <div class="go_to">
                                <div>
                                    <a href="{% url 'restaurant_products' restaurant.id restaurant.slug %}products" class="btn_1">Ver Menu</a>
                                </div>
                            </div>
                        </div>
                    </div><!-- End row-->
                </div><!-- End strip_list-->
            {% endfor %}









            <a href="#0" class="load_more_bt wow fadeIn" data-wow-delay="0.2s">Carregar mais...</a>
        </div><!-- End col-md-9-->

    </div><!-- End row -->
</div><!-- End container -->
<!-- End Content =============================================== -->


<!-- Footer ================================================== -->
<footer>
    <div class="container">
        <div class="row">




        </div><!-- End row -->
        <div class="row">
            <div class="col-md-12">
                <div id="social_footer">
                    <ul>
                        <li><a href="https://www.facebook.com/mopiteu/" target="_blank"><i class="icon-facebook"></i></a></li>
                        <li><a href="#0"><i class="icon-twitter"></i></a></li>
                        <li><a href="#0"><i class="icon-google"></i></a></li>
                        <li><a href="#0"><i class="icon-instagram"></i></a></li>
                        <li><a href="#0"><i class="icon-pinterest"></i></a></li>
                        <li><a href="#0"><i class="icon-vimeo"></i></a></li>
                        <li><a href="#0"><i class="icon-youtube-play"></i></a></li>
                    </ul>
                    <p>© MOPITEU 2016</p>
                </div>
            </div>
        </div><!-- End row -->
    </div><!-- End container -->
</footer>
<!-- End Footer =============================================== -->

<div class="layer"></div><!-- Mobile menu overlay mask -->

<!-- Login modal -->
<div class="modal fade" id="login_2" tabindex="-1" role="dialog" aria-labelledby="myLogin" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content modal-popup">
            <a href="#" class="close-link"><i class="icon_close_alt2"></i></a>
            <form action="#" class="popup-form" id="myLogin">
                <div class="login_icon"><i class="icon_lock_alt"></i></div>
                <input type="text" class="form-control form-white" placeholder="Username">
                <input type="text" class="form-control form-white" placeholder="Password">
                <div class="text-left">
                    <a href="#">Esqueceu a senha?</a>
                </div>
                <button type="submit" class="btn btn-submit">Enviar</button>
            </form>
        </div>
    </div>
</div><!-- End modal -->

<!-- Register modal -->
<div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="myRegister" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content modal-popup">
            <a href="#" class="close-link"><i class="icon_close_alt2"></i></a>
            <form action="#" class="popup-form" id="myRegister">
                <div class="login_icon"><i class="icon_lock_alt"></i></div>
                <input type="text" class="form-control form-white" placeholder="Name">
                <input type="text" class="form-control form-white" placeholder="Last Name">
                <input type="email" class="form-control form-white" placeholder="Email">
                <input type="text" class="form-control form-white" placeholder="Password"  id="password1">
                <input type="text" class="form-control form-white" placeholder="Confirm password"  id="password2">
                <div id="pass-info" class="clearfix"></div>
                <div class="checkbox-holder text-left">
                    <div class="checkbox">
                        <input type="checkbox" value="accept_2" id="check_2" name="check_2" />
                        <label for="check_2"><span>Eu aceito os <strong>TERMOS &amp; Condições</strong></span></label>
                    </div>
                </div>
                <button type="submit" class="btn btn-submit">Registro</button>
            </form>
        </div>
    </div>
</div><!-- End Register modal -->

<!-- COMMON SCRIPTS -->
<script src="/static/js/jquery-1.11.2.min.js"></script>
<script src="/static/js/common_scripts_min.js"></script>
<script src="/static/js/functions.js"></script>
<script src="/static/assets/validate.js"></script>

<!-- SPECIFIC SCRIPTS -->
<script  src="/static/js/cat_nav_mobile.js"></script>
<script>$('#cat_nav').mobileMenu();</script>
<script src="http://maps.googleapis.com/maps/api/js"></script>
<script src="/static/js/map.js"></script>
<script src="/static/js/infobox.js"></script>
<script src="/static/js/ion.rangeSlider.js"></script>
<script>
    $(function () {
        'use strict';
        $("#range").ionRangeSlider({
            hide_min_max: true,
            keyboard: true,
            min: 0,
            max: 15,
            from: 0,
            to:5,
            type: 'double',
            step: 1,
            prefix: "Km ",
            grid: true
        });
    });
</script>
</body>
</html>