{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <center><h1>Aqui aparecem os detalhes do Restaurante com os seus produtos</h1></center>
    <br><h4>Nome: {{ restaurant.name }}</h4>
    {% for product in products %}
        <a href="{% url 'products_details' restaurant.slug restaurant.id %}">{{ product.title }}</a>
    {% endfor %}
    
    
    
    

    
    
    
    
    
    
    
    
    
    
{% endblock %}