{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <center><h1>Aqui a aparece uma lista com todos restaurantes em funçao da busca</h1></center>
    {% for restaurant in restaurants %}
        <br><a href="{% url 'restaurant_products' restaurant.id restaurant.slug %}products/all">{{ restaurant.name }}</a>
    {% endfor %}
{% endblock %}