
<!DOCTYPE html>
<!--[if IE 9]><html class="ie ie9"> <![endif]-->
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="pizza, delivery food, fast food, sushi, take away, chinese, italian food">
    <meta name="description" content="">
    <meta name="author" content="Ansonika">
    <title>Mopiteu - Comida sem sair de casa</title>

    <!-- Favicons-->
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="img/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="img/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="img/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="img/apple-touch-icon-144x144-precomposed.png">

    <!-- GOOGLE WEB FONT -->
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700,900,400italic,700italic,300,300italic' rel='stylesheet' type='text/css'>

    <!-- BASE CSS -->
    <link href="/static/css/base.css" rel="stylesheet">

    <!-- Modernizr -->
    <script src="/static/js/modernizr.js"></script>

    <!--[if lt IE 9]>
      <script src="js/html5shiv.min.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="/static/js/jquery-1.11.2.min.js"></script>
  <script src="/static/js/jquery-ui.js"></script>

    <script>
  $(function() {
    var availableTags = [
      {% for z in zones %}
          "{{ z.zone }}",
        {% endfor %}
    ];
    $( "#search-input" ).autocomplete({
      source: availableTags
    });
  });
  </script>


</head>

<body>

<!--[if lte IE 8]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a>.</p>
    <![endif]-->

<div id="preloader">
    <div class="sk-spinner sk-spinner-wave" id="status">
        <div class="sk-rect1"></div>
        <div class="sk-rect2"></div>
        <div class="sk-rect3"></div>
        <div class="sk-rect4"></div>
        <div class="sk-rect5"></div>
    </div>
</div><!-- End Preload -->

<!-- Header ================================================== -->
<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col--md-4 col-sm-4 col-xs-4">
                <a href="/" id="logo">
                    <img src="/static/img/logo.png" width="190" height="23" alt="" data-retina="true" class="hidden-xs">
                    <img src="/static/img/logo_mobile.png" width="59" height="23" alt="" data-retina="true" class="hidden-lg hidden-md hidden-sm">
                </a>
            </div>
            <nav class="col--md-8 col-sm-8 col-xs-8">
                <a class="cmn-toggle-switch cmn-toggle-switch__htx open_close" href="javascript:void(0);"><span>Menu mobile</span></a>
                <div class="main-menu">
                    <div id="header_menu">
                        <img src="/static/img/logo.png" width="190" height="23" alt="" data-retina="true">
                    </div>
                    <a href="#" class="open_close" id="close_in"><i class="icon_close"></i></a>
                    <ul>
                        <!--<li class="submenu">-->
                        <li><a href="/contact/">Contacto</a></li>
                        <li><a href="/">Página Inicial</a></li>

                        <!--
                        <ul>
                            <li><a href="index.html">Home Video background</a></li>
                            <li><a href="index_2.html">Home Static image</a></li>
                            <li><a href="index_3.html">Home Text rotator</a></li>
                            <li><a href="index_8.html">Home Layer slider</a></li>
                            <li><a href="index_4.html">Home Cookie bar</a></li>
                            <li><a href="index_5.html">Home Popup</a></li>
                            <li><a href="index_6.html">Home Mobile synthetic</a></li>
                            <li><a href="index_7.html">Top Menu version 2</a></li>
                        </ul>-->
                        <!--</li>-->
                       {% comment %} <li><a href="#">Acerca</a></li>{% endcomment %}
                        <!--<li><a href="faq.html">Faq</a></li>-->
                        <!--
                        <li class="submenu">
                        <a href="javascript:void(0);" class="show-submenu">Pages<i class="icon-down-open-mini"></i></a>
                        <ul>
                            <li><a href="detail_page.html">Restaurant Menu</a></li>
                            <li><a href="cart.html">Order step 1</a></li>
                            <li><a href="cart_2.html">Order step 2</a></li>
                            <li><a href="cart_3.html">Order step 3</a></li>
                            <li><a href="detail_page_2.html">Restaurant detail page</a></li>
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="grid_list.html">Grid list</a></li>
                            <li><a href="contacts.html">Contacts</a></li>
                            <li><a href="coming_soon/index.html">Coming soon page</a></li>
                            <li><a href="shortcodes.html">Shortcodes</a></li>
                            <li><a href="icon_pack_1.html">Icon pack 1</a></li>
                            <li><a href="icon_pack_2.html">Icon pack 2</a></li>
                        </ul>
                        </li>-->
                        <!--<li><a href="#0" data-toggle="modal" data-target="#login_2">Login</a></li>-->
                    </ul>
                </div><!-- End main-menu -->
            </nav>
        </div><!-- End row -->
    </div><!-- End container -->






</header>
<!-- End Header =============================================== -->

<!-- SubHeader =============================================== -->
<section class="header-video">
    <div id="hero_video">
        <div id="sub_content">
            <h1>Takeaway ou Entrega Domiciliar</h1>
            <p>
                Encontre agora mesmo os Restaurantes e Lanchonetes da sua cidade.
            </p>
            <form method="POST" action="{% url 'restaurant' %}">{% csrf_token %}
                <div id="custom-search-input">
                    <div class="input-group">

                        <input type="text" class=" search-query" id="search-input" placeholder="Nome da sua cidade, ex: Kilamba" name="opZone" required>
                        <input type="hidden" name="opServiceType" value="Entrega &amp; Retirada">
                        <span class="input-group-btn">
                        <input type="submit" class="btn_search" value="submit">

                        </span>

                    </div>
                </div>
            </form>
        </div><!-- End sub_content -->
    </div>
    <img src="/static/img/video_fix.png" alt="" class="header-video--media" data-video-src="/static/video/intro" data-teaser-source="/static/video/intro" data-provider="Vimeo" data-video-width="1920" data-video-height="960">
    <!--
    <div id="count" class="hidden-xs">
        <ul>
            <li><span class="number">2650</span> Restaurant</li>
            <li><span class="number">5350</span> People Served</li>
            <li><span class="number">12350</span> Registered Users</li>
        </ul>
    </div>-->
</section><!-- End Header video -->
<!-- End SubHeader ============================================ -->

<!-- Content ================================================== -->
<div class="container margin_60">

    <div class="main_title">
        <h2 class="nomargin_top" style="padding-top:0">Como funciona</h2>
        <!--<p>
            Cum doctus civibus efficiantur in imperdiet deterruisset.
        </p>-->
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="box_home" id="one">
                <span>1</span>
                <h3>Procure por localização</h3>
                <p>
                    Encontre todos os restaurantes disponíveis na sua cidade.
                </p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="box_home" id="two">
                <span>2</span>
                <h3>Escolha um restaurante</h3>
                <p>
                    Temos vários cardápios disponíveis.
                </p>
            </div>
        </div>

        <div class="col-md-3">
            <div class="box_home" id="three">
                <span>3</span>
                <h3>Entrega ou Retirada</h3>
                <p>
                    Especifique se deseja entrega domiciliar ou retirada.
                </p>
            </div>
        </div>

        <div class="col-md-3">
            <div class="box_home" id="four">
                <span>4</span>
                <h3>Dados</h3>
                <p>
                    Especifique os dados de entrega e com quanto deseja pagar.
                </p>
            </div>
        </div>
    </div><!-- End row -->

    <div id="delivery_time" class="hidden-xs">
        <strong><span>2</span><span>5</span></strong>
        <h4>Tempo médio de entrega!</h4>
    </div>
</div><!-- End container -->



<!-- Footer ================================================== -->
<footer>
    <div class="container">


        <div class="row">
            <div class="col-md-12">
                <div id="social_footer">
                    <ul>
                        <li><a href="https://www.facebook.com/mopiteu/" target="_blank"><i class="icon-facebook"></i></a></li>
                        <li><a href="#0"><i class="icon-twitter"></i></a></li>
                        <li><a href="#0"><i class="icon-google"></i></a></li>
                        <li><a href="#0"><i class="icon-instagram"></i></a></li>
                        <li><a href="#0"><i class="icon-pinterest"></i></a></li>
                        <li><a href="#0"><i class="icon-vimeo"></i></a></li>
                        <li><a href="#0"><i class="icon-youtube-play"></i></a></li>
                    </ul>
                    <p>
                        © MOPITEU 2016
                    </p>
                </div>
            </div>
        </div><!-- End row -->
    </div><!-- End container -->
</footer>
<!-- End Footer =============================================== -->

<div class="layer"></div><!-- Mobile menu overlay mask -->

<!-- Login modal -->
<div class="modal fade" id="login_2" tabindex="-1" role="dialog" aria-labelledby="myLogin" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content modal-popup">
            <a href="#" class="close-link"><i class="icon_close_alt2"></i></a>
            <form action="#" class="popup-form" id="myLogin">
                <div class="login_icon"><i class="icon_lock_alt"></i></div>
                <input type="text" class="form-control form-white" placeholder="Username">
                <input type="text" class="form-control form-white" placeholder="Password">
                <div class="text-left">
                    <a href="#">Esqueceu a senha?</a>
                </div>
                <button type="submit" class="btn btn-submit">Enviar</button>
            </form>
        </div>
    </div>
</div><!-- End modal -->

<!-- Register modal -->
<div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="myRegister" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content modal-popup">
            <a href="#" class="close-link"><i class="icon_close_alt2"></i></a>
            <form action="#" class="popup-form" id="myRegister">
                <div class="login_icon"><i class="icon_lock_alt"></i></div>
                <input type="text" class="form-control form-white" placeholder="Name">
                <input type="text" class="form-control form-white" placeholder="Last Name">
                <input type="email" class="form-control form-white" placeholder="Email">
                <input type="text" class="form-control form-white" placeholder="Password"  id="password1">
                <input type="text" class="form-control form-white" placeholder="Confirm password"  id="password2">
                <div id="pass-info" class="clearfix"></div>
                <div class="checkbox-holder text-left">
                    <div class="checkbox">
                        <input type="checkbox" value="accept_2" id="check_2" name="check_2" />
                        <label for="check_2"><span>Eu aceito os <strong>Termos &amp; Condições</strong></span></label>
                    </div>
                </div>
                <button type="submit" class="btn btn-submit">Registro</button>
            </form>
        </div>
    </div>
</div><!-- End Register modal -->

<!-- COMMON SCRIPTS -->

<script src="/static/js/common_scripts_min.js"></script>
<script src="/static/js/functions.js"></script>
<script src="/static/assets/validate.js"></script>

<!-- SPECIFIC SCRIPTS -->
<script src="/static/js/video_header.js"></script>
<script>
    $(document).ready(function() {
        'use strict';
        HeaderVideo.init({
            container: $('.header-video'),
            header: $('.header-video--media'),
            videoTrigger: $("#video-trigger"),
            autoPlayVideo: true
        });

    });
</script>



</body>
</html>