{% extends 'base.html' %}
{% load staticfiles %}

{% block body %}
    <center><h1>Aqui é a Homepage com busca</h1></center>
    <center>
        <center>HOMEPAGE</center>
        {% if user.is_authenticated %}
            -------------------------------
            <br>User ID: {{ user.id }}
            <br>Username: {{ user.username }}
            <br>First name: {{ user.first_name }}
            <br>Last name: {{ user.last_name }}
            <br>-------------------------------



        {% endif %}
        <br><center>Address</center>
        -------------------------------
        {% if user.useraddress_set.all|length > 0 %}
            {% for address in user.useraddress_set.all %}

                <br>Adress Name: {{ address.address_name }}
                <br>Receiver name: {{ address.receiver_first_name }} {{ address.receiver_last_name }}
                <br>Region: {{ address.region }}
                <br>District: {{ address.district }}
                <br>Street: {{ address.street }}
                <br>Number: {{ address.number }}
                <br>Reference: {{ address.reference }}
                <br>-------------------------------
            {% endfor %}
        {% endif %}
    </center>
    {% comment %}<img src="{% static "img/01.jpg" %}"/>{% endcomment %}

{% endblock %}

{% block content %}
    <div class="row">

        <form method="POST" action="{% url 'restaurant' %}">{% csrf_token %}
            <div class="form-group">
                <div class="col-md-4">
                    <select class="form-control" name="opZone">
                        {% for zone in zones %}
                         <option value="{{ zone.zone }}">{{ zone.zone }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <select class="form-control" name="opServiceType">
                    {% for serviceType in serviceTypes %}
                        <option value="{{ serviceType }}">{{ serviceType }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-4">
                <input type="submit" class="btn btn-success " value="PROCURAR" onclick="makePost2();">
            </div>

        </form>
    </div>
{% endblock %}

