{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>

    <!-- start: Meta -->
    <meta charset="utf-8">
    <title>MOPITEU- Gerenciamento</title>

    {% comment %}{% autoescape off %}
        {% load drealtimetags %}
        {% ishout_js %}
    {% endautoescape %}{% endcomment %}

    {% comment %}<script type="text/javascript" src="http://localhost:5500/socket.io/socket.io.js"></script> <script type="text/javascript" src="http://localhost:5500/client/ishout.client.js"></script>
    <script type="text/javascript">{% endcomment %}
   {% comment %} <script>
        ishout.on('notifications', function(data){
            alert(data.msg);
        });

        ishout.init();
    </script>{% endcomment %}




    <meta name="description" content="Bootstrap Metro Dashboard">
    <meta name="author" content="Dennis Ji">

    <!-- end: Meta -->

    <!-- start: Mobile Specific -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- end: Mobile Specific -->

    <!-- start: CSS -->
    <link id="bootstrap-style" href="/static/dashboard/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/dashboard/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link id="base-style" href="/static/dashboard/css/style.css" rel="stylesheet">
    <link id="base-style-responsive" href="/static/dashboard/css/style-responsive.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic-ext,latin-ext' rel='stylesheet' type='text/css'>
    <!-- end: CSS -->


    <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <link id="ie-style" href="/static/dashboard/css/ie.css" rel="stylesheet">
    <![endif]-->

    <!--[if IE 9]>
		<link id="ie9style" href="/static/dashboard/css/ie9.css" rel="stylesheet">
	<![endif]-->

    <!-- start: Favicon -->
    <link rel="shortcut icon" href="/static/dashboard/img/favicon.ico">
    <!-- end: Favicon -->

    <script src="/static/js/itpoverlay.js" type="text/javascript"></script>
    <link href="/static/css/overlaydash.css" type="text/css" rel="stylesheet" />

<script src="/static/dashboard/js/jquery-1.9.1.min.js"></script>

    <link href="/static/dashboard/css/bootstrap-toggle.min.css" rel="stylesheet">


    <script src="/static/dashboard/js/bootstrap-switch.js"></script>
    <script src="/static/dashboard/js/bootstrap-toggle.min.js"></script>

</head>

<style type="text/css">
    * {border:0;margin:0}
    .ui-widget-overlay {
        background: repeat-x scroll 50% 50% #AAA;
        opacity:0.3;
    }

    .ui-widget-overlay {
        height:100%;
        left:0;
        position:absolute;
        top:0;
        width:100%;
    }

</style>

<!--BEGIN PUSHER-->
<script src="https://js.pusher.com/3.0/pusher.min.js"></script>
<script>
    // Enable pusher logging - don't include this in production
    Pusher.log = function(message) {
      if (window.console && window.console.log) {
        window.console.log(message);
      }
    };

    var pusher = new Pusher('22a581cdf0d22671bf00', {
      encrypted: true
    });

    var channel = pusher.subscribe('order-{{restaurant.slug}}');
    channel.bind('new_order', function(data) {
      //alert(data.message);
        window.location.reload();
    });

</script>

<!--END PUSHER-->
<body>
<!-- start: Header -->
<div class="navbar">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="index.html"><span>PAINEL</span></a>

            <!-- start: Header Menu -->
            <div class="nav-no-collapse header-nav">
                <ul class="nav pull-right">


                    <!-- start: User Dropdown -->
                    <li class="dropdown">
                        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="halflings-icon white user"></i> {{ restaurant.name }}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            {% comment %}<li class="dropdown-menu-title">
                                <span>Meus dados</span>
                            </li>{% endcomment %}
                            {% comment %}<li><a href="#"><i class="halflings-icon user"></i> Profile</a></li>{% endcomment %}
                            <li><a href="/accounts/logout/"><i class="halflings-icon off"></i> Sair</a></li>
                        </ul>
                    </li>
                    <!-- end: User Dropdown -->
                </ul>
            </div>
            <!-- end: Header Menu -->

        </div>
    </div>
</div>
<!-- start: Header -->

<div class="container-fluid-full">
    <div class="row-fluid">

        <!-- start: Main Menu -->
        <div id="sidebar-left" class="span2">
            <div class="nav-collapse sidebar-nav">
                <ul class="nav nav-tabs nav-stacked main-menu">
                    {% comment %}
                    <li><a href="{% url 'dashboard_home_url' %}"><i class="icon-bar-chart"></i><span class="hidden-tablet"> Dashboard</span></a></li>
{% endcomment %}

                    <li><a href="{% url 'dashboard_orders_url' %}"><i class="icon-shopping-cart"></i><span class="hidden-tablet"> Pedidos</span></a></li>
                    <li><a href="{% url 'dashboard_products_url' %}"><i class="icon-list"></i><span class="hidden-tablet"> Produtos</span></a></li>
                    <li><a href="{% url 'dashboard_profile_url' %}"><i class="icon-user"></i><span class="hidden-tablet"> Meus dados</span></a></li>


                    {% comment %}
                    <li><a href="table.html"><i class="icon-align-justify"></i><span class="hidden-tablet"> Tables</span></a></li>
{% endcomment %}

                </ul>
            </div>
        </div>
        <!-- end: Main Menu -->

        <noscript>
            <div class="alert alert-block span10">
                <h4 class="alert-heading">Warning!</h4>
                <p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
            </div>
        </noscript>

        <!-- start: Content -->
        <div id="content" class="span10">


            <ul class="breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="index.html">Painel</a>
                    <i class="icon-angle-right"></i>
                </li>
                <li><a href="#">Pedidos</a></li>
            </ul>

            <div class="row-fluid sortable">
                {% if restaurant.is_open %}
                    <center><input type="checkbox" checked data-toggle="toggle" id="rest-open" onchange="openCloseRest();"></center>
                {% else %}
                    <center><input type="checkbox" data-toggle="toggle" id="rest-open" onchange="openCloseRest();"></center>
                {% endif %}
            <br><br><br>

                <div class="box span12">
                    <div class="box-header" data-original-title>
                        <h2><i class="halflings-icon white user"></i><span class="break"></span>Pedidos</h2>
                        <div class="box-icon">
                            {% comment %}
                            <a href="#" class="btn-add-product"><i class="halflings-icon white plus"></i></a>
{% endcomment %}
                            <!--<a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>-->
                            <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
                            <!--<a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>-->
                        </div>
                    </div>
                    <div class="box-content" id="content-box-id">
                        <table class="table table-striped table-bordered bootstrap-datatable datatable">
                            <thead>
                            <tr>
                                <th>#Código</th>
                                <th>Pedido</th>
                                <th>Observações</th>
                                <th>Serviço</th>
                                <th>Entrega</th>
                                <th>Troco para (Kz)</th>
                                <th>Cliente</th>
                                <th>Endereço</th>
                                <th>Email</th>
                                <th>Telefone</th>
                                <th>Estado</th>
                                <th>Ação</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if orders %}
                                {% for o in orders %}
                                    <tr id="tr{{ o.id }}">

                                        <td id="td-id{{ o.id }}">
                                            <a href="#"  data-rel="popover" data-content="{{ o.timestamp }}" title="Hora do pedido">#MPT{{ o.id }}</a>
                                        </td>

                                        <td id="td-order1">
                                            {% for i in o.get_items %}
                                                {{ i.item.title }}: {{ i.qty }}</br>
                                            {% endfor %}
                                        </td>
                                        <td id="td-obs1">
                                            <a href="#"  data-rel="popover" data-content="{{ o.observations }}" title="Observações">VER</a>
                                        </td>
                                        <td>xxx</td>
                                        <td>
                                            {% if o.delivery_day == "Today" %}
                                                Hoje
                                            {% else %}
                                                Amanhã
                                            {% endif %}
                                        </td>
                                        <td id="td-paywith{{ o.id }}">{{ o.pay_with }}</td>
                                        <td id="td-client{{ o.id }}">{{ o.name }} {{ last_name }}</td>
                                        <td id="td-address{{ o.id }}">{{ o.address }}</td>
                                        <td id="td-email{{ o.id }}">{{ o.email }}</td>
                                        <td id="td-telephone{{ o.id }}">{{ o.phone }}</td>
                                        <td id="td-status{{ o.id }}">

                                            {% ifequal o.status 'WAITING' %}
                                                <span class="label label-info">Espera</span>
                                            {% endifequal %}

                                            {% ifequal o.status "DELIVERING" %}
                                                <span class="label label-default">Saiu para entrega</span>
                                            {% endifequal %}

                                            {% ifequal o.status "DELIVERED" %}
                                                <span class="label label-success">Entregue</span>
                                            {% endifequal %}

                                            {% ifequal o.status "CUSTOM" %}
                                                <span class="label label-important">Personalizado</span>
                                            {% endifequal %}

                                            {% ifequal o.status "FILED" %}
                                                <span class="label label-important">FILED</span>
                                            {% endifequal %}

                                        </td>
                                        <td class="center">
                                            <a class="btn btn-inverse" href="#" id="{{ o.id }}" onclick="editOrder(this.id);">
                                                <i class="halflings-icon white edit"></i>
                                            </a>
                                            <a class="btn btn-info" href="#" id="{{ o.id }}" onclick="proceedOrder(this.id);">
                                                <i class="halflings-icon white arrow-right"></i>
                                            </a>
                                            <a class="btn btn-danger" href="#" id="{{ o.id }}" onclick="deleteOrder(this.id);">
                                                <i class="halflings-icon white trash"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div><!--/span-->

            </div><!--/row-->


        </div><!--/.fluid-container-->

        <!-- end: Content -->
    </div><!--/#content.span10-->
</div><!--/fluid-row-->

{% for o in orders  %}
    <!-- BEGIN: MODAL -->
    <div class="modal hide fade" id="send-message-modal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3>Mensagem Personalizada</h3>
    </div>

    <div class="modal-body" id="mymodal">
    <div class="box-content">
        <div class="controls">
            <div class="control-group hidden-phone">
                <form id="message-form{{ o.id }}">{% csrf_token %}
                    <input type="hidden" name="proceedOrder" value="0">
                    <input type="hidden" name="deleteOrder" value="0">
                    <input type="hidden" name="order_id" value="{{ o.id }}">
                    <label class="control-label" for="textarea-id{{ o.id }}"></label>
                    <div class="controls">
                        <textarea class="cleditor"  rows="12" id="textarea-id{{ o.id }}" name="msg"></textarea>
                    </div>
                </form>
            </div>
        </div>

        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Cancelar</a>
            <a href="#" class="btn btn-primary" id="{{ o.id }}" onclick="postMessage(this.id);">Salvar</a>
        </div>

    </div>
    <!-- END: MODAL -->
{% endfor %}
<div class="common-modal modal fade" id="common-Modal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <ul class="list-inline item-details">
            <li><a href="http://themifycloud.com">Admin templates</a></li>
            <li><a href="http://themescloud.org">Bootstrap themes</a></li>
        </ul>
    </div>
</div>
<div class="clearfix"></div>

<footer>

    <p>
        <span style="text-align:left;float:left">&copy; 2013 <a href="http://themifycloud.com/downloads/janux-free-responsive-admin-dashboard-template/" alt="Bootstrap_Metro_Dashboard">JANUX Responsive Dashboard</a></span>

    </p>

</footer>

<!-- start: JavaScript-->

<script src="/static/dashboard/js/jquery-1.9.1.min.js"></script>
<script src="/static/dashboard/js/jquery-migrate-1.0.0.min.js"></script>

<script src="/static/dashboard/js/jquery-ui-1.10.0.custom.min.js"></script>

<script src="/static/dashboard/js/jquery.ui.touch-punch.js"></script>

<script src="/static/dashboard/js/modernizr.js"></script>

<script src="/static/dashboard/js/bootstrap.min.js"></script>

<script src="/static/dashboard/js/jquery.cookie.js"></script>

<script src='/static/dashboard/js/fullcalendar.min.js'></script>

<script src='/static/dashboard/js/jquery.dataTables.min.js'></script>

<script src="/static/dashboard/js/excanvas.js"></script>
<script src="/static/dashboard/js/jquery.flot.js"></script>
<script src="/static/dashboard/js/jquery.flot.pie.js"></script>
<script src="/static/dashboard/js/jquery.flot.stack.js"></script>
<script src="/static/dashboard/js/jquery.flot.resize.min.js"></script>

<script src="/static/dashboard/js/jquery.chosen.min.js"></script>

<script src="/static/dashboard/js/jquery.uniform.min.js"></script>

<script src="/static/dashboard/js/jquery.cleditor.min.js"></script>

<script src="/static/dashboard/js/jquery.noty.js"></script>

<script src="/static/dashboard/js/jquery.elfinder.min.js"></script>

<script src="/static/dashboard/js/jquery.raty.min.js"></script>

<script src="/static/dashboard/js/jquery.iphone.toggle.js"></script>

<script src="/static/dashboard/js/jquery.uploadify-3.1.min.js"></script>

<script src="/static/dashboard/js/jquery.gritter.min.js"></script>

<script src="/static/dashboard/js/jquery.imagesloaded.js"></script>

<script src="/static/dashboard/js/jquery.masonry.min.js"></script>

<script src="/static/dashboard/js/jquery.knob.modified.js"></script>

<script src="/static/dashboard/js/jquery.sparkline.min.js"></script>

<script src="/static/dashboard/js/counter.js"></script>

<script src="/static/dashboard/js/retina.js"></script>

<script src="/static/dashboard/js/custom.js"></script>






<!-- end: JavaScript-->


<script>
    function editOrder(id){
        $('#send-message-modal').modal('show');
    }

    function proceedOrder(id) {
        var overlay = new ItpOverlay("content-box-id");
        var data = {"order_id": id, "csrfmiddlewaretoken": "{{ csrf_token }}", "proceedOrder":"1"};

        $.ajax({
            type: "POST",
            url: '/dashboard/orders/',
            data: data,
            beforeSend: function () {
                overlay.show();

            },
            complete: function () {
            },
            success: function (data) {
                overlay.hide();
                $('#content-box-id').modal('hide');
                alert('Estado alterado com sucesso!');
                window.location.href = "/dashboard/orders/";

            },
            error: function () {
                overlay.hide();
                $('#mymodal').modal('hide');
                alert("Erro na comunicação!");
            },
        });
    }


    function deleteOrder(id){

        var overlay = new ItpOverlay("content-box-id");
        var data = {"order_id": id, "csrfmiddlewaretoken": "{{ csrf_token }}", "proceedOrder":"0", "deleteOrder":"1"};

        $.ajax({
            type: "POST",
            url: '/dashboard/orders/',
            data: data,
            beforeSend: function () {
                overlay.show();

            },
            complete: function () {
            },
            success: function (data) {
                overlay.hide();
                $('#content-box-id').modal('hide');
                alert('Pedido excluído com sucesso!');
                window.location.href = "/dashboard/orders/";

            },
            error: function () {
                overlay.hide();
                $('#mymodal').modal('hide');
                alert("Erro na comunicação!");
            },
        });
    }

    function postMessage(id){
        var message = $("#textarea-id"+id).val();

        form = $('#message-form'+id).serialize();

        var overlay = new ItpOverlay("send-message-modal");

        $.ajax({
            type: "POST",
            url: '/dashboard/orders/',
            data: form,
            beforeSend: function () {
                overlay.show();

            },
            complete: function () {
            },
            success: function (data) {
                overlay.hide();
                $('#mymodal'+id).modal('hide');
                alert('Mensagem enviada com sucesso!');
                window.location.href = "/dashboard/orders/";

            },
            error: function () {
                overlay.hide();
                $('#mymodal'+id).modal('hide');
                alert("Erro no envio");
            },
        });


    }

</script>

<script>
    $('body').on('click', function (e) {
        $('[data-rel=popover]').each(function () {
            // hide any open popovers when the anywhere else in the body is clicked
            if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
                $(this).popover('hide');
            }
        });
    });



</script>
<script>
  function openCloseRest() {
      //var overlay = new ItpOverlay("send-message-modal");

      {% if restaurant.is_open %}
        var is_open = 'fecha';
      {% else %}
        var is_open = 'abre';
      {% endif %}



      var data = {"rest_to":is_open, "csrfmiddlewaretoken": "{{ csrf_token }}"};

          $.ajax({
            type: "POST",
            url: '/dashboard/orders/',
            data: data,
            beforeSend: function () {
                //overlay.show();

            },
            complete: function () {
            },
            success: function (data) {
                //overlay.hide();
                $('#content-box-id').modal('hide');
                alert('Estado alterado com sucesso!');
                window.location.href = "/dashboard/orders/";

            },
            error: function () {
                overlay.hide();
                $('#mymodal').modal('hide');
                alert("Erro na comunicação!");
            },
        });

  }
</script>

{% comment %}
<script language="javascript" type="text/javascript">
        $(document).ready(function() {
            setInterval("location.reload(true)", 1*60000);
        });
    </script>{% endcomment %}

</body>
</html>
