<!DOCTYPE html>
<html lang="en">
<head>

    <!-- start: Meta -->
    <meta charset="utf-8">
    <title>MOPITEU- Gerenciamento</title>
    <meta name="description" content="Bootstrap Metro Dashboard">
    <meta name="author" content="Dennis Ji">
    <!-- end: Meta -->

    <!-- start: Mobile Specific -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- end: Mobile Specific -->

    <!-- start: CSS -->
    <link id="bootstrap-style" href="/static/dashboard/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/dashboard/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link id="base-style" href="/static/dashboard/css/style.css" rel="stylesheet">
    <link id="base-style-responsive" href="/static/dashboard/css/style-responsive.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic-ext,latin-ext' rel='stylesheet' type='text/css'>
    <!-- end: CSS -->


    <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
	  	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<link id="ie-style" href="/static/dashboard/css/ie.css" rel="stylesheet">
	<![endif]-->

    <!--[if IE 9]>
		<link id="ie9style" href="/static/dashboard/css/ie9.css" rel="stylesheet">
	<![endif]-->

    <!-- start: Favicon -->
    <link rel="shortcut icon" href="/static/dashboard/img/favicon.ico">
    <!-- end: Favicon -->


    <script src="/static/js/itpoverlay.js" type="text/javascript"></script>
    <link href="/static/css/overlaydash.css" type="text/css" rel="stylesheet" />

</head>
<style type="text/css">
    * {border:0;margin:0}
    .ui-widget-overlay {
        background: repeat-x scroll 50% 50% #AAA;
        opacity:0.3;
    }

    .ui-widget-overlay {
        height:100%;
        left:0;
        position:absolute;
        top:0;
        width:100%;
    }

</style>
<body>
<!-- start: Header -->
<div class="navbar">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="index.html"><span>PAINEL</span></a>

            <!-- start: Header Menu -->
            <div class="nav-no-collapse header-nav">
                <ul class="nav pull-right">


                    <!-- start: User Dropdown -->
                    <li class="dropdown">
                        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="halflings-icon white user"></i> {{ restaurant.name }}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            {% comment %} <li class="dropdown-menu-title">
                                <span>Meus dados</span>
                            </li>{% endcomment %}
                            {% comment %}<li><a href="#"><i class="halflings-icon user"></i> Profile</a></li>{% endcomment %}
                            <li><a href="/accounts/logout/"><i class="halflings-icon off"></i> Sair</a></li>
                        </ul>
                    </li>
                    <!-- end: User Dropdown -->
                </ul>
            </div>
            <!-- end: Header Menu -->

        </div>
    </div>
</div>
<!-- start: Header -->

<div class="container-fluid-full">
    <div class="row-fluid">

        <!-- start: Main Menu -->
        <div id="sidebar-left" class="span2">
            <div class="nav-collapse sidebar-nav">
                <ul class="nav nav-tabs nav-stacked main-menu">
                    {% comment %}
                    <li><a href="index.html"><i class="icon-bar-chart"></i><span class="hidden-tablet"> Dashboard</span></a></li>
{% endcomment %}
                    <li><a href="{% url 'dashboard_orders_url' %}"><i class="icon-shopping-cart"></i><span class="hidden-tablet"> Pedidos</span></a></li>
                    <li><a href="{% url 'dashboard_products_url' %}"><i class="icon-list"></i><span class="hidden-tablet"> Produtos</span></a></li>
                    <li><a href="{% url 'dashboard_profile_url' %}"><i class="icon-user"></i><span class="hidden-tablet"> Meus dados</span></a></li>


                    {% comment %}
                    <li><a href="table.html"><i class="icon-align-justify"></i><span class="hidden-tablet"> Tables</span></a></li>
{% endcomment %}

                </ul>
            </div>
        </div>
        <!-- end: Main Menu -->

        <noscript>
            <div class="alert alert-block span10">
                <h4 class="alert-heading">Warning!</h4>
                <p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
            </div>
        </noscript>




        <!-- start: Content -->
        <div id="content" class="span10">

            <ul class="breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="index.html">Painel</a>
                    <i class="icon-angle-right"></i>
                </li>
                <li><a href="#">Produtos</a></li>
            </ul>





            <div class="row-fluid sortable">
                <div class="box span12">
                    <div class="box-header" data-original-title>
                        <h2><i class="halflings-icon white user"></i><span class="break"></span>Produtos</h2>
                        <div class="box-icon">
                            <a href="#" class="btn-add-product"><i class="halflings-icon white plus"></i></a>
                            <!--<a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>-->
                            <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
                            <!--<a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>-->
                        </div>
                    </div>
                    <div class="box-content">


                        <table class="table table-striped table-bordered bootstrap-datatable datatable">
                            <thead>
                            <tr>
                                <th>#ID</th>
                                <th>Nome</th>
                                <th>Preço (Kz)</th>
                                <th>Categoria</th>
                                <th>Descrição</th>
                                <th>Disponibilidade</th>
                                <th>Ações</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if products %}
                                {% for p in products %}
                                    <tr id="tr{{ p.id }}">
                                        <td id="td-id{{ p.id }}">
                                            <a href="#"  data-rel="popover" data-content="{{ p.timestamp }}" title="Inserido em">#{{ p.id }}</a>
                                        </td>
                                        <td id="td-name{{ p.id }}">{{ p.title }}</td>
                                        <td id="td-price{{ p.id }}" class="center">{{ p.price }}</td>
                                        <td id="td-category{{ p.id }}" class="center">{{ p.default }}</td>
                                        <td id="td-description{{ p.id }}" class="center">{{ p.description }}</td>
                                        <td  class="center">
                                            {% if p.active %}
                                                <span class="label label-success" id="td-dispo{{ p.id }}">Disponível</span>
                                            {% else %}
                                                <span class="label label-important" id="td-dispo{{ p.id }}">Indisponível</span>
                                            {% endif %}

                                        </td>
                                        <td class="center">
                                            <a id="{{ p.id }}" class="btn btn-info"  href="#" onclick="editProduct(this.id);">
                                                <i class="halflings-icon white edit" ></i>
                                            </a>
                                            <a id="{{ p.id }}" class="btn btn-danger" href="#" onclick="deleteProduct(this.id);">
                                                <i class="halflings-icon white trash"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}

                            {% endif %}


                            </tbody>
                        </table>
                    </div>
                </div><!--/span-->

            </div><!--/row-->


        </div><!--/.fluid-container-->





        <!-- end: Content -->
    </div><!--/#content.span10-->
</div><!--/fluid-row-->




<div class="modal hide fade" id="add-product-modal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3>Adicionar produto</h3>
    </div>

    <div class="modal-body"  id="mymodal">
        <div class="box-content">
            <form class="form-horizontal" id="add-product-form">{% csrf_token %}
                <input type="hidden" name="product-id" value="">
                <fieldset>
                    <div class="control-group">
                        <label class="control-label" for="focusedInput">Nome</label>
                        <div class="controls">
                            <input class="input-xlarge focused" required id="name-modal" type="text" value="" name="name" >
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="selectError">Categoria</label>
                        <div class="controls">
                            <select id="category-modal" data-rel="chosen" name="category">
                                {% for c in categories %}
                                    <option >{{ c.title }}</option>
                                {% endfor %}

                            </select>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="focusedInput">Descrição</label>
                        <div class="controls">
                            <input class="input-xlarge focused" id="description-modal" type="text" value="" name="description">
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="focusedInput">Preço (Kz)</label>
                        <div class="controls">
                            <input required class="input-xlarge focused" id="price-modal" min="1" type="number" value="" name="price">
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">Disponível ?</label>
                        <div class="controls">
                            <label class="radio">
                                <input type="radio" name="active" id="yes-radio-modal" value="yes" checked="">
                                Sim
                            </label>
                            <div style="clear:both"></div>
                            <label class="radio">
                                <input type="radio" name="active" id="no-radio-modal" value="no">
                                Não
                            </label>
                        </div>
                    </div>


                </fieldset>
            </form>

        </div>
    </div>

    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Cancelar</a>
        <a href="#" class="btn btn-primary" id="btn-modal-save">Salvar</a>
    </div>

</div>
<!-- END: MODAL -->










{% for p in products %}
    <!-- BEGIN: MODAL -->
    <div class="modal hide fade" id="add-product-modal{{ p.id }}">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3>Adicionar produto</h3>
        </div>

        <div class="modal-body"  id="mymodal{{ p.id }}">
            <div class="box-content">
                <form class="form-horizontal" id="add-product-form{{ p.id }}">{% csrf_token %}
                    <input type="hidden" name="product-id" value="{{ p.id }}">
                    <fieldset>
                        <div class="control-group">
                            <label class="control-label" for="focusedInput">Nome</label>
                            <div class="controls">
                                <input class="input-xlarge focused" required id="name-modal{{ p.id }}" type="text" value="" name="name" >
                            </div>
                        </div>

                        {% comment %}<div class="control-group">
                        <label class="control-label" for="selectError">Categoria</label>
                        <div class="controls">
                            <select id="category-modal{{ p.id }}" data-rel="chosen" name="category">
                                {% for c in categories %}
                                    <option >{{ c.title }}</option>
                                {% endfor %}

                            </select>
                        </div>
                    </div>{% endcomment %}

                        <div class="control-group">
                            <label class="control-label" for="focusedInput">Categoria</label>
                            <div class="controls">
                                <input class="input-xlarge focused" id="category-modal{{ p.id }}" type="text" value="{{ p.default }}" name="category">
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="focusedInput">Descrição</label>
                            <div class="controls">
                                <input class="input-xlarge focused" id="description-modal{{ p.id }}" type="text" value="" name="description">
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="focusedInput">Preço (Kz)</label>
                            <div class="controls">
                                <input required class="input-xlarge focused" id="price-modal{{ p.id }}" min="1" type="number" value="" name="price">
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">Disponível ?</label>
                            <div class="controls">
                                <label class="radio">
                                    {% if p.active %}
                                        <input type="radio" name="active" id="yes-radio-modal" value="yes" checked="">
                                    {% else %}
                                        <input type="radio" name="active" id="yes-radio-modal" value="yes">
                                    {% endif %}
                                    Sim
                                </label>
                                <div style="clear:both"></div>
                                <label class="radio">
                                    {% if p.active %}
                                        <input type="radio" name="active" id="yes-radio-modal" value="no">
                                    {% else %}
                                        <input type="radio" name="active" id="no-radio-modal" value="no" checked="">
                                    {% endif %}
                                    Não
                                </label>
                            </div>
                        </div>


                    </fieldset>
                </form>

            </div>
        </div>

        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Cancelar</a>
            <a href="#" class="btn btn-primary" id="btn-modal-save" onclick="saveEdit({{ p.id }});">Salvar</a>
        </div>

    </div>
    <!-- END: MODAL -->
{% endfor %}


























<div class="common-modal modal fade" id="common-Modal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <ul class="list-inline item-details">
            <li><a href="http://themifycloud.com">Admin templates</a></li>
            <li><a href="http://themescloud.org">Bootstrap themes</a></li>
        </ul>
    </div>
</div>
<div class="clearfix"></div>

<footer>

    <p>

    </p>

</footer>

<!-- start: JavaScript-->

<script src="/static/dashboard/js/jquery-1.9.1.min.js"></script>
<script src="/static/dashboard/js/jquery-migrate-1.0.0.min.js"></script>

<script src="/static/dashboard/js/jquery-ui-1.10.0.custom.min.js"></script>

<script src="/static/dashboard/js/jquery.ui.touch-punch.js"></script>
<script src="/static/js/jquery-ui.js"></script>

<script src="/static/dashboard/js/modernizr.js"></script>

<script src="/static/dashboard/js/bootstrap.min.js"></script>

<script src="/static/dashboard/js/jquery.cookie.js"></script>

<script src='/static/dashboard/js/fullcalendar.min.js'></script>

<script src='/static/dashboard/js/jquery.dataTables.min.js'></script>

<script src="/static/dashboard/js/excanvas.js"></script>
<script src="/static/dashboard/js/jquery.flot.js"></script>
<script src="/static/dashboard/js/jquery.flot.pie.js"></script>
<script src="/static/dashboard/js/jquery.flot.stack.js"></script>
<script src="/static/dashboard/js/jquery.flot.resize.min.js"></script>

<script src="/static/dashboard/js/jquery.chosen.min.js"></script>

<script src="/static/dashboard/js/jquery.uniform.min.js"></script>

<script src="/static/dashboard/js/jquery.cleditor.min.js"></script>

<script src="/static/dashboard/js/jquery.noty.js"></script>

<script src="/static/dashboard/js/jquery.elfinder.min.js"></script>

<script src="/static/dashboard/js/jquery.raty.min.js"></script>

<script src="/static/dashboard/js/jquery.iphone.toggle.js"></script>

<script src="/static/dashboard/js/jquery.uploadify-3.1.min.js"></script>

<script src="/static/dashboard/js/jquery.gritter.min.js"></script>

<script src="/static/dashboard/js/jquery.imagesloaded.js"></script>

<script src="/static/dashboard/js/jquery.masonry.min.js"></script>

<script src="/static/dashboard/js/jquery.knob.modified.js"></script>

<script src="/static/dashboard/js/jquery.sparkline.min.js"></script>

<script src="/static/dashboard/js/counter.js"></script>

<script src="/static/dashboard/js/retina.js"></script>

<script src="/static/dashboard/js/custom.js"></script>
<!-- end: JavaScript-->

<script>
    function editProduct(id){
        var name = $("#td-name"+id).text();
        var price = $("#td-price"+id).text();
        var category= $("#td-category"+id).text();
        var dispo = $("#td-dispo"+id).text();
        var description = $("#td-description"+id).text();


        $("#name-modal"+id).val(name);
        $("#price-modal"+id).val(parseInt(price));
        $("#category-modal"+id).val(category).change();
        $("#description-modal"+id).val(description);


        $('#add-product-modal'+id).modal('show');
    }
    function  saveEdit(id) {
        form = $('#add-product-form'+id).serialize();

        var overlay = new ItpOverlay("add-product-modal"+id);

        $.ajax({
            type: "POST",
            url: '/dashboard/products/',
            data: form,
            beforeSend: function () {
                overlay.show();

            },
            complete: function () {
            },
            success: function (data) {
                overlay.hide();
                $('#myModal'+id).modal('hide');
                alert('Alterado com sucesso!');
                window.location.href = "/dashboard/products/";

            },
            error: function () {
                overlay.hide();
                $('#myModal'+id).modal('hide');
                alert("Erro no envio");
                window.location.href = "/dashboard/products/";
            },
        });

    }

    function deleteProduct(id){
        var name = $("#td-name"+id).text();
        var overlay = new ItpOverlay("add-product-modal"+id);
        var data = {
            "id":id,
            "name":name,
            "delete":1,
            "csrfmiddlewaretoken": "{{ csrf_token }}",
        };

        $.ajax({
            type: "POST",
            url: '/dashboard/products/',
            data: data,
            beforeSend: function () {
                overlay.show();

            },
            complete: function () {
            },
            success: function (data) {
                overlay.hide();
                $('#myModal'+id).modal('hide');
                alert('Apagado com sucesso!');
                window.location.href = "/dashboard/products/";

            },
            error: function () {
                overlay.hide();
                $('#myModal'+id).modal('hide');
                alert("Erro!");
                window.location.href = "/dashboard/products/";
            },
        });
    }

</script>

<script>
$('body').on('click', function (e) {
    $('[data-rel=popover]').each(function () {
        // hide any open popovers when the anywhere else in the body is clicked
        if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
            $(this).popover('hide');
        }
    });
});

</script>



</body>
</html>
