{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>

    <!-- start: Meta -->
    <meta charset="utf-8">
    <title>MOPITEU- Gerenciamento</title>

   {% comment %} {% autoescape off %}
        {% load drealtimetags %}
        {% ishout_js %}
    {% endautoescape %}{% endcomment %}

    {% comment %}<script type="text/javascript" src="http://localhost:5500/socket.io/socket.io.js"></script> <script type="text/javascript" src="http://localhost:5500/client/ishout.client.js"></script>
    {% comment %}<script type="text/javascript">{% endcomment %}{% comment %}
    <script>
        ishout.on('notifications', function(data){
            alert(data.msg);
        });

        ishout.init();
    </script>{% endcomment %}




    <meta name="description" content="Bootstrap Metro Dashboard">
    <meta name="author" content="Dennis Ji">

    <!-- end: Meta -->

    <!-- start: Mobile Specific -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- end: Mobile Specific -->

    <!-- start: CSS -->
    <link id="bootstrap-style" href="/static/dashboard/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/dashboard/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link id="base-style" href="/static/dashboard/css/style.css" rel="stylesheet">
    <link id="base-style-responsive" href="/static/dashboard/css/style-responsive.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic-ext,latin-ext' rel='stylesheet' type='text/css'>
    <!-- end: CSS -->


    <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <link id="ie-style" href="/static/dashboard/css/ie.css" rel="stylesheet">
    <![endif]-->

    <!--[if IE 9]>
		<link id="ie9style" href="/static/dashboard/css/ie9.css" rel="stylesheet">
	<![endif]-->

    <!-- start: Favicon -->
    <link rel="shortcut icon" href="/static/dashboard/img/favicon.ico">
    <!-- end: Favicon -->

    <script src="/static/js/itpoverlay.js" type="text/javascript"></script>
    <link href="/static/css/overlaydash.css" type="text/css" rel="stylesheet" />

</head>
<style type="text/css">
    * {border:0;margin:0}
    .ui-widget-overlay {
        background: repeat-x scroll 50% 50% #AAA;
        opacity:0.3;
    }

    .ui-widget-overlay {
        height:100%;
        left:0;
        position:absolute;
        top:0;
        width:100%;
    }

</style>

<body>
<!-- start: Header -->
<div class="navbar">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="index.html"><span>PAINEL</span></a>

            <!-- start: Header Menu -->
            <div class="nav-no-collapse header-nav">
                <ul class="nav pull-right">


                    <!-- start: User Dropdown -->
                    <li class="dropdown">
                        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="halflings-icon white user"></i> {{ restaurant.name }}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            {% comment %}<li class="dropdown-menu-title">
                                <span>Meus dados</span>
                            </li>{% endcomment %}
                            {% comment %}<li><a href="#"><i class="halflings-icon user"></i> Profile</a></li>{% endcomment %}
                            <li><a href="/accounts/logout/"><i class="halflings-icon off"></i> Sair</a></li>
                        </ul>
                    </li>
                    <!-- end: User Dropdown -->
                </ul>
            </div>
            <!-- end: Header Menu -->

        </div>
    </div>
</div>
<!-- start: Header -->

<div class="container-fluid-full">
    <div class="row-fluid">

        <!-- start: Main Menu -->
        <div id="sidebar-left" class="span2">
            <div class="nav-collapse sidebar-nav">
                <ul class="nav nav-tabs nav-stacked main-menu">
                    {% comment %}
                    <li><a href="{% url 'dashboard_home_url' %}"><i class="icon-bar-chart"></i><span class="hidden-tablet"> Dashboard</span></a></li>
{% endcomment %}

                    <li><a href="{% url 'dashboard_orders_url' %}"><i class="icon-shopping-cart"></i><span class="hidden-tablet"> Pedidos</span></a></li>
                    <li><a href="{% url 'dashboard_products_url' %}"><i class="icon-list"></i><span class="hidden-tablet"> Produtos</span></a></li>
                    <li><a href="{% url 'dashboard_profile_url' %}"><i class="icon-user"></i><span class="hidden-tablet"> Meus dados</span></a></li>


                    {% comment %}
                    <li><a href="table.html"><i class="icon-align-justify"></i><span class="hidden-tablet"> Tables</span></a></li>
{% endcomment %}

                </ul>
            </div>
        </div>
        <!-- end: Main Menu -->

        <noscript>
            <div class="alert alert-block span10">
                <h4 class="alert-heading">Warning!</h4>
                <p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
            </div>
        </noscript>

        <!-- start: Content -->
        <div id="content" class="span10">


            <ul class="breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="index.html">Painel</a>
                    <i class="icon-angle-right"></i>
                </li>
                <li><a href="#">Dados</a></li>
            </ul>

            <div class="row-fluid sortable">
                <div class="box span12">
                    <div class="box-header" data-original-title>
                        <h2><i class="halflings-icon white user"></i><span class="break"></span>Dados</h2>
                        <div class="box-icon">
                            {% comment %}
                            <a href="#" class="btn-add-product"><i class="halflings-icon white plus"></i></a>
{% endcomment %}
                            <!--<a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>-->
                            <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
                            <!--<a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>-->
                        </div>
                    </div>
                    <div class="box-content" id="content-box-id">
                        <form class="form-horizontal">
                            <fieldset>
                                <div class="control-group">
                                    <div class="control-group">
                                        <label class="control-label">Nome</label>
                                        <div class="controls">
                                            <span class="input-xlarge uneditable-input">{{ restaurant.name }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Descrição</label>
                                    <div class="controls">
                                        <textarea  class="uneditable-input" id="textarea2" rows="3">{{ restaurant.description }}</textarea>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Email</label>
                                    <div class="controls">
                                        <div class="input-prepend">
                                            <span class="add-on">@</span><input disabled="" id="prependedInput" size="16" type="text" value="{{ restaurant.email }}">
                                        </div>
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label" for="selectError1">Zonas de entrega</label>
                                    <div class="controls">
                                        <select id="selectError1" multiple data-rel="chosen" disabled="">
                                            {% for zone in restaurant.delivery_zones.all %}
                                                <option selected>{{ zone.zone }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                </div>

                                <div class="control-group">
                                    <label class="control-label">Abertura</label>
                                    <div class="controls">
                                        <input type="datetime" value="{{ restaurant.open_at }}" disabled="">
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label">Encerramento</label>
                                    <div class="controls">
                                        <input type="datetime" value="{{ restaurant.close_at }}" disabled="">
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label">Pedido mínimo (Kz)</label>
                                    <div class="controls">
                                        <input type="number" value="{{ restaurant.min_order }}" disabled="">
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label">Taxa de entrega (Kz)</label>
                                    <div class="controls">
                                        <input type="number" value="{{ restaurant.delivery_tax }}" disabled="">
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label">Entrega grátis a partir (Kz)</label>
                                    <div class="controls">
                                        <input type="number" value="{{ restaurant.delivery_free_from }}" disabled="">
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label">Telefone</label>
                                    <div class="controls">
                                        <input type="number" value="{{ restaurant.phone }}" disabled="">
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div><!--/span-->

            </div><!--/row-->


        </div><!--/.fluid-container-->

        <!-- end: Content -->
    </div><!--/#content.span10-->
</div><!--/fluid-row-->

<div class="common-modal modal fade" id="common-Modal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <ul class="list-inline item-details">
            <li><a href="http://themifycloud.com">Admin templates</a></li>
            <li><a href="http://themescloud.org">Bootstrap themes</a></li>
        </ul>
    </div>
</div>
<div class="clearfix"></div>

<footer>

    <p>
        <span style="text-align:left;float:left">&copy; 2013 <a href="http://themifycloud.com/downloads/janux-free-responsive-admin-dashboard-template/" alt="Bootstrap_Metro_Dashboard">JANUX Responsive Dashboard</a></span>

    </p>

</footer>

<!-- start: JavaScript-->

<script src="/static/dashboard/js/jquery-1.9.1.min.js"></script>
<script src="/static/dashboard/js/jquery-migrate-1.0.0.min.js"></script>

<script src="/static/dashboard/js/jquery-ui-1.10.0.custom.min.js"></script>

<script src="/static/dashboard/js/jquery.ui.touch-punch.js"></script>

<script src="/static/dashboard/js/modernizr.js"></script>

<script src="/static/dashboard/js/bootstrap.min.js"></script>

<script src="/static/dashboard/js/jquery.cookie.js"></script>

<script src='/static/dashboard/js/fullcalendar.min.js'></script>

<script src='/static/dashboard/js/jquery.dataTables.min.js'></script>

<script src="/static/dashboard/js/excanvas.js"></script>
<script src="/static/dashboard/js/jquery.flot.js"></script>
<script src="/static/dashboard/js/jquery.flot.pie.js"></script>
<script src="/static/dashboard/js/jquery.flot.stack.js"></script>
<script src="/static/dashboard/js/jquery.flot.resize.min.js"></script>

<script src="/static/dashboard/js/jquery.chosen.min.js"></script>

<script src="/static/dashboard/js/jquery.uniform.min.js"></script>

<script src="/static/dashboard/js/jquery.cleditor.min.js"></script>

<script src="/static/dashboard/js/jquery.noty.js"></script>

<script src="/static/dashboard/js/jquery.elfinder.min.js"></script>

<script src="/static/dashboard/js/jquery.raty.min.js"></script>

<script src="/static/dashboard/js/jquery.iphone.toggle.js"></script>

<script src="/static/dashboard/js/jquery.uploadify-3.1.min.js"></script>

<script src="/static/dashboard/js/jquery.gritter.min.js"></script>

<script src="/static/dashboard/js/jquery.imagesloaded.js"></script>

<script src="/static/dashboard/js/jquery.masonry.min.js"></script>

<script src="/static/dashboard/js/jquery.knob.modified.js"></script>

<script src="/static/dashboard/js/jquery.sparkline.min.js"></script>

<script src="/static/dashboard/js/counter.js"></script>

<script src="/static/dashboard/js/retina.js"></script>

<script src="/static/dashboard/js/custom.js"></script>
<!-- end: JavaScript-->



</body>
</html>
