<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

        <script>
            {% load drealtimetags %}

    {% ishout_js %}
        </script>
</head>
<body>
asdsadsd
</body>
</html>